<p-card>

    <div class="inline-flex items-center gap-2 text-primary mb-4">
        <p class="text-[12px]! font-semibold">Asignar responsables</p>
        @if(submitted && form.invalid) {
            <ng-icon name="tablerAlertCircle" />
        }
    </div>

    <div>
        <p-table
            [value]="items()"
            size="small"
            [rowHover]="true"
            class="text-[12px]!"
        >

            <!-- 👇 Cabecera -->
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-xs text-gray-500! font-semibold px-1! w-[50px] max-w-[50px]!">#</th>
                    <th class="text-xs text-gray-500! font-semibold px-1!">Nombre</th>
                    <th class="text-xs text-gray-500! font-semibold align-middle! px-1!">Cargo</th>
                    <th class="text-xs text-gray-500! font-semibold align-middle! px-1!">Operación</th>
                    <th class="text-xs text-gray-500! font-semibold px-1!"></th>
                </tr>
            </ng-template>

            <!-- 👇 Cuerpo -->
            <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr>
                    <td class="font-semibold text-gray-500! ">{{ i + 1 }}</td>
                    <td class="px-1!">
                        {{ row['nombre'] }}, {{ row['apellido_paterno'] }} {{ row['apellido_materno'] }}
                    </td>
                    <td class="px-1!">
                        {{ row['cargo'] }}
                    </td>
                    <td class="px-1!">
                        
                    </td>
                    <td class="px-1! w-12.5">
                        <div class="flex flex-row gap-1 justify-end">
                            <p-button 
                                [outlined]="true"
                                pTooltip="Quitar responsable" 
                                tooltipPosition="left" 
                                tooltipStyleClass="text-[10px]!" 
                                class="text-xs!" 
                                size="small" 
                                icon="pi pi-times text-xs! font-semibold!" 
                                styleClass=" text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
                                (click)="evtRemoveItems(i)"  
                                rounded="true" 
                            />
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template #emptymessage >
                <tr>
                    <td [colSpan]="4" class="text-center! text-sm">
                        No se han asignado responsables
                    </td>
                </tr>
            </ng-template>
                
        </p-table>
    </div>

    <div class="text-center mt-6">
        <p-button 
        [outlined]="true"
        (click)="evtAddPersonal()"
        size="small" 
        styleClass="text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
        class="text-xs!" 
        icon="pi pi-plus text-xs!" 
        severity="primary" 
        label="Agregar responsable"></p-button>
    </div>

</p-card>


<p-confirmdialog styleClass="max-w-[400px]" #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8  rounded-xl">
            <div class="rounded-full bg-blue-200 text-blue-700 inline-flex justify-center items-center h-24 w-24 -mt-20"
            >
                <i class="font-bold pi pi-question text-5xl!"></i>
            </div>
            <span class="font-semibold text-xl block mb-2 mt-6 text-center">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                <p-button label="Cancelar" severity="secondary" (onClick)="onReject()" styleClass="w-32"></p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>