<div class="p-card rounded-xl overflow-hidden">

    <p-tabs [(value)]="tabIndex" lazy="true">
        <p-tablist>
            <p-tab value="0" class="py-3! data-[p-active=false]:bg-gray-100! data-[p-active=true]:bg-primary! data-[p-active=true]:font-semibold! data-[p-active=true]:text-white!">
                <div class="flex items-center gap-2">
                    <label for="" class="text-[12px] pointer-events-none">Datos de envío</label>
                    @if( formDatosEnvio.invalid && (formDatosEnvio.touched || submitted()) ) {
                        <ng-icon name="tablerAlertCircle" />
                    }
                </div>
            </p-tab>
            @if( mostrarProveedor() ){
                <p-tab value="1" class="py-3! data-[p-active=false]:bg-gray-100! data-[p-active=true]:bg-primary! data-[p-active=true]:text-white!">
                    <div class="flex items-center gap-2">
                        <label for="" class="text-[12px] pointer-events-none ">Datos del proveedor</label>
                        @if(mostrarProveedor() && !proveedor) {
                            <ng-icon name="tablerAlertCircle" />
                        }
                    </div>
                </p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div [formGroup]="formDatosEnvio" class="flex flex-col gap-4">
                    
                    @if( tipoGuia === 'REMITENTE'){
                        <div class="flex items-center gap-1">
                            <label for="" class="text-[14px] font-semibold text-primary uppercase">TIPO DE TRANSPORTE:</label>
                            <ng-icon name="heroQuestionMarkCircleSolid" class="min-w-3.25!" pTooltip="Privado: Cuando el transporte de bienes es realizado por el propietario con vehículos propios. Público: Cuando se contrata a un transportista para que traslade los bienes." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/>
                            <div class="flex flex-row gap-1">
                                <p-button 
                                    size="small" 
                                    class="text-xs! font-normal!" 
                                    [styleClass]=" tipoTransporte === 'PRIVADO' ? 'bg-primary-500! text-primary-100!' : 'bg-gray-200!'"
                                    (click)="setTipoTransporte('PRIVADO')"
                                    label="Privado" 
                                    [outlined]="true"
                                    [severity]="tipoTransporte === 'PRIVADO' ? 'primary' : 'secondary'"></p-button>
                                <p-button 
                                    size="small" 
                                    class="text-xs! font-normal!"
                                    [styleClass]="tipoTransporte === 'PUBLICO' ? 'bg-primary-500! text-primary-100!' : 'bg-gray-200!'"
                                    (click)="setTipoTransporte('PUBLICO')"
                                    label="Público" 
                                    [outlined]="true"
                                    [severity]="tipoTransporte === 'PUBLICO' ? 'primary' : 'secondary'"></p-button>
                            </div>
                        </div>
                    }

                    <div class="grid grid-cols-1 lg:grid-cols-6 gap-2">
                        @if(esTransportePrivado){
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Fecha de inicio de traslado *</label>
                                <p-datepicker 
                                    size="small" 
                                    fluid
                                    placeholder="dd/mm/aaaa"
                                    class="text-xs! min-h-9!"
                                    formControlName="fecha_inicio_traslado"
                                    [iconDisplay]="'input'" 
                                    appendTo="body"
                                    panelStyleClass="text-xs-panel"
                                    [showButtonBar]="true"
                                    [invalid]="f_datosEnvio.fecha_inicio_traslado?.invalid && (f_datosEnvio.fecha_inicio_traslado?.touched || submitted())" 
                                    [showIcon]="true" 
                                    [minDate]="minFechaEntregaTraslado"
                                />
                                @if (
                                    f_datosEnvio.fecha_inicio_traslado?.invalid && 
                                    (f_datosEnvio.fecha_inicio_traslado?.touched || submitted())
                                ) 
                                {
                                    <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                                }
                            </div>
                        }@else {
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold truncate">Fecha de entrega al transportista *</label>
                                <p-datepicker 
                                size="small" 
                                fluid
                                placeholder="dd/mm/aaaa"
                                class="min-h-9!" 
                                formControlName="fecha_entrega_transportista"
                                [iconDisplay]="'input'" 
                                panelStyleClass="text-xs! m-auto!"
                                readonlyInput="true"
                                [invalid]="f_datosEnvio.fecha_entrega_transportista?.invalid && (f_datosEnvio.fecha_entrega_transportista?.touched || submitted())"
                                appendTo="body" 
                                [showIcon]="true" 
                                [showButtonBar]="true"
                                [minDate]="minFechaEntregaTraslado"
                                />
                                @if (f_datosEnvio.fecha_entrega_transportista?.invalid && (f_datosEnvio.fecha_entrega_transportista?.touched || submitted())) {
                                    <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                                }
                            </div>
                        }
                        @if( tipoGuia != 'TRANSPORTISTA'){
                            <div class="flex flex-col lg:col-span-3">
                                <label class="text-[11px]! h-4.5! text-gray-500">Descripción del traslado</label>
                                <input 
                                placeholder="" 
                                pSize="small" 
                                fluid 
                                pInputText 
                                formControlName="descripcion_traslado" 
                                [class]="f_datosEnvio.descripcion_traslado.invalid && submitted() ? ' shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'shadow-none!  min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                [invalid]="f_datosEnvio.descripcion_traslado.invalid && submitted()" />
                            </div>
                        }

                        <div class="flex flex-col ">
                            <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Und. del peso bruto *</label>
                            <app-select-unidad-medida
                                #selectUnidadesMedida
                                [control]="f_datosEnvio.unidad_medida_id"
                                [invalid]="f_datosEnvio.unidad_medida_id.invalid && ( f_datosEnvio.unidad_medida_id.touched || submitted())"
                                [tipo]="'peso'"
                                [default]="2"
                            ></app-select-unidad-medida>

                            <!---<p-select 
                                fluid
                                size="small" 
                                [inputSize]="2" 
                                panelStyleClass="text-[.875rem]!"
                                [class]=" f_datosEnvio.unidad_medida_id.invalid && submitted() ? 'shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : ' shadow-none! min-h-9!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' "
                                [options]="unidadesMedida()" 
                                [loading]="ldUnidadesMedida()"
                                formControlName="unidad_medida_id" 
                                placeholder="" 
                                optionValue="id"
                                optionLabel="codigo_um"
                                appendTo="body"
                            >
                                <ng-template let-unit #item>
                                    <div class="flex items-center">
                                        {{unit.codigo_um}} - {{unit.descripcion}}
                                    </div>
                                </ng-template>
                            </p-select>-->

                        </div>
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! flex gap-x-2 items-center text-gray-500 font-semibold">Peso bruto total * <ng-icon name="heroQuestionMarkCircleSolid" class="text-[14px]! min-w-3.25!" pTooltip="Aquí deberás ingresar el peso bruto de la carga a transportar, por ahora, el peso solo puede ser representado en kilogramos o toneladas." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/></label>
                                <p-inputnumber 
                                    fluid size="small" 
                                    placeholder="0.000" 
                                    formControlName="peso_bruto_total" 
                                    mode="decimal" 
                                    [maxFractionDigits]="3" 
                                    [maxlength]="15" 
                                    [class]="f_datosEnvio.peso_bruto_total.invalid && (submitted() || f_datosEnvio.peso_bruto_total.touched) ? 'text-xs! min-h-9! shadow-none! border-primary-400! focus:border-primary-400!' : 'text-xs! min-h-9! shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                    [invalid]="f_datosEnvio.peso_bruto_total.invalid && (submitted() || f_datosEnvio.peso_bruto_total.touched)"
                                />
                                @if (f_datosEnvio.peso_bruto_total?.invalid && (f_datosEnvio.peso_bruto_total?.touched || submitted())) {
                                    <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                                }
                            </div>

                        @if( tipoGuia == 'TRANSPORTISTA'){
                            <div class="flex flex-col">
                                <label for="" class="text-[11px]! h-4.5! text-gray-500 font-semibold">Pagador del flete *</label>
                                <p-select 
                                    fluid
                                    size="small" 
                                    [inputSize]="2" 
                                    panelStyleClass="text-[.875rem]!"
                                    [class]=" f_datosEnvio.pagador_flete.invalid && submitted() ? 'shadow-none! border-primary-400! focus:border-primary-400!' : ' shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' "
                                    [options]="freightPayers" 
                                    formControlName="pagador_flete" 
                                    placeholder="" 
                                    optionValue="value" 
                                    optionLabel="description" 
                                    appendTo="body"
                                />
                            </div>
                        }
                        
                    </div>

                    @if(tieneDatosContenedor){
                        <div class="grid grid-cols-1 lg:grid-cols-6 gap-2">
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Número de bultos *</label>
                                <input 
                                    placeholder="" 
                                    pSize="small" 
                                    fluid 
                                    pInputText 
                                    formControlName="numero_bultos" 
                                    [class]="f_datosEnvio.numero_bultos.invalid && submitted() ? ' shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'shadow-none!  min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                    [invalid]="f_datosEnvio.numero_bultos.invalid && submitted()" 
                                />
                            </div>

                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500">N° de contenedor</label>
                                <input 
                                    placeholder="" 
                                    pSize="small" 
                                    fluid 
                                    pInputText 
                                    formControlName="numero_contenedor" 
                                    [class]="f_datosEnvio.numero_contenedor.invalid && submitted() ? ' shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'shadow-none!  min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                    [invalid]="f_datosEnvio.numero_contenedor.invalid && submitted()" 
                                />
                            </div>

                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500">N° de precinto</label>
                                <input 
                                placeholder="" 
                                pSize="small" 
                                fluid 
                                pInputText 
                                formControlName="numero_precinto" 
                                [class]="f_datosEnvio.numero_precinto.invalid && submitted() ? ' shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'shadow-none!  min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                [invalid]="f_datosEnvio.numero_precinto.invalid && submitted()" />
                            </div>
                        </div>
                    }

                  
                    <div class="grid grid-cols-4 gap-4">
                        @if(f_datosEnvio.pagador_flete.value == 'SUBCONTRATADOR'){
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">RUC *</label>
                                <input 
                                placeholder="RUC *" 
                                pSize="small" 
                                fluid 
                                pInputText 
                                formControlName="ruc_subcontratador" 
                                [class]="f_datosEnvio.ruc_subcontratador.invalid && submitted() ? ' shadow-none! border-primary-400! focus:border-primary-400!' : 'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                [invalid]="f_datosEnvio.ruc_subcontratador.invalid && submitted()" />
                            </div>
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Nombre o Razón Social *</label>
                                <input 
                                placeholder="Nombre o Razón Social *" 
                                pSize="small" 
                                fluid 
                                pInputText 
                                formControlName="nombre_rsocial_subcontratador" 
                                [class]="f_datosEnvio.nombre_rsocial_subcontratador.invalid && submitted() ? ' shadow-none! border-primary-400! focus:border-primary-400!' : 'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                [invalid]="f_datosEnvio.nombre_rsocial_subcontratador.invalid && submitted()" />
                            </div>
                        }

                        @if(f_datosEnvio.pagador_flete.value == 'OTRO'){
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">N° Doc. de identidad *</label>
                                <input 
                                placeholder="N° Doc. de identidad *" 
                                pSize="small" 
                                fluid 
                                pInputText 
                                formControlName="numero_documento_tercero" 
                                [class]="f_datosEnvio.numero_documento_tercero.invalid && submitted() ? ' shadow-none! border-primary-400! focus:border-primary-400!' : 'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                [invalid]="f_datosEnvio.numero_documento_tercero.invalid && submitted()" />
                            </div>
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Nombre o Razón Social *</label>
                                <input placeholder="" pSize="small" fluid pInputText formControlName="nombre_rsocial_tercero" [class]="f_datosEnvio.nombre_rsocial_tercero.invalid && submitted() ? ' shadow-none! border-primary-400! focus:border-primary-400!' : 'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " [invalid]="f_datosEnvio.nombre_rsocial_tercero.invalid && submitted()" />
                            </div>
                        }
                    </div>

                    <p-divider class="my-0!"></p-divider>

                    <div class="flex items-center gap-2">
                        <p-checkbox formControlName="traslado_vehiculo_categoria" inputId="traslado_vehiculo_categoria" size="large" [binary]="true"/>
                        <label for="traslado_vehiculo_categoria" class="text-xs! font-semibold cursor-pointer">Traslado en vehículos de categoría M1 o L</label>
                    </div>


                    @if(f_datosEnvio.traslado_vehiculo_categoria.value){
                        <div class="flex flex-col gap-4">
                            <label for="" class="text-md font-semibold text-primary bg-gray-50 w-full py-2 ps-3 mt-3 rounded-lg">Datos del vehículo</label>
                            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                                <div class="flex flex-col">
                                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Placa *</label>
                                    <input 
                                        pSize="small" 
                                        fluid 
                                        pInputText 
                                        class="min-h-9! shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                                        formControlName="traslado_vehiculo_categoria_placa_vehiculo" 
                                        onlyUpper
                                        [invalid]="f_datosEnvio.traslado_vehiculo_categoria_placa_vehiculo?.invalid && (f_datosEnvio.traslado_vehiculo_categoria_placa_vehiculo?.touched || submitted())"
                                    />
                                    @if (f_datosEnvio.traslado_vehiculo_categoria_placa_vehiculo?.invalid && (f_datosEnvio.traslado_vehiculo_categoria_placa_vehiculo?.touched || submitted())) {
                                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                                    }
                                </div>
                            </div>
                        </div>
                    }


                    @if(
                        motivoTraslado?.codigo_sunat === sunatMotivoTrasladoEnum.exportacion || 
                        motivoTraslado?.codigo_sunat === sunatMotivoTrasladoEnum.importacion
                    ){
                        <div class="flex flex-col gap-4">
                            <label class="text-md font-semibold text-primary bg-gray-100 w-full py-2 ps-3 my-3 rounded-lg">Datos de la importación / exportación</label>
                            <div class="grid grid-cols-4 gap-2">
                                @if(!f_datosEnvio.cod_aeropuerto.value){
                                    <div>
                                        <label class="text-[11px]! h-4.5! text-gray-500 ">Cod. de puerto</label>
                                        <p-select 
                                            fluid
                                            size="small" 
                                            [inputSize]="2" 

                                            panelStyleClass="text-[.875rem]!"
                                            class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                                            [options]="puertos()" 
                                            placeholder="Seleccionar..." 
                                            optionValue="value" 
                                            optionLabel="label" 
                                            appendTo="body"
                                            [showClear]="true"
                                            formControlName="cod_puerto"
                                            pTooltip="Puerto marítimo, fluvial o lacustre de embarque o desembarque de la mercancía"
                                            tooltipPosition="top"
                                            tooltipStyleClass="text-xs! text-slate-300!"
                                            showClear="true"
                                        />
                                    </div>
                                }
                                @if(!f_datosEnvio.cod_puerto.value){
                                    <div>
                                        <label class="text-[11px]! h-4.5! text-gray-500 ">Cod. de aeropuerto</label>
                                        <p-select 
                                            #codAeropuerto
                                            fluid
                                            size="small" 
                                            [inputSize]="2" 
                                            panelStyleClass="text-[.875rem]!"
                                            class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                                            [options]="aereopuertos()" 
                                            placeholder="Seleccionar..." 
                                            optionValue="value" 
                                            optionLabel="label" 
                                            appendTo="body"
                                            [showClear]="true"
                                            formControlName="cod_aeropuerto"
                                            pTooltip="Aeropuerto de embarque o desembarque de la mercancía"
                                            tooltipPosition="top"
                                            tooltipStyleClass="text-xs! text-slate-300!"
                                            showClear="true"
                                        />
                                    </div>
                                }
                            </div>
                        </div>
                    }


                    @if(
                        motivoTraslado?.codigo_sunat === sunatMotivoTrasladoEnum.traslado_establecimientos_misma_empresa || 
                        motivoTraslado?.codigo_sunat === sunatMotivoTrasladoEnum.importacion
                    ){
                        <div class="flex flex-col gap-4">

                            <label for="" class="text-md font-semibold text-primary bg-primary-50 w-full py-2 ps-2">Datos de establecimiento</label>

                            @if(motivoTraslado!.codigo_sunat === sunatMotivoTrasladoEnum.importacion){
                                <p-button 
                                    [outlined]="true"
                                    (onClick)="evtOnShowListaProveedorEstablecimiento()" 
                                    size="small" 
                                    styleClass="text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
                                    class="text-xs!" 
                                    icon="pi pi-search text-xs!" 
                                    severity="primary" 
                                    label="Seleccionar proveedor"
                                ></p-button>
                            }

                            @if(
                                motivoTraslado!.codigo_sunat === sunatMotivoTrasladoEnum.importacion || 
                                motivoTraslado!.codigo_sunat === sunatMotivoTrasladoEnum.traslado_establecimientos_misma_empresa
                            ){
                                <div class="grid grid-cols-4 gap-2">
                                    <div>
                                        <label 
                                            class="text-[11px]! h-4.5! text-gray-500"
                                            [class.font-semibold]="!(f_datosEnvio.cod_puerto.value || f_datosEnvio.cod_aeropuerto.value)"
                                        >Cod. Establec. Punto Partida 
                                        @if(!(f_datosEnvio.cod_puerto.value || f_datosEnvio.cod_aeropuerto.value)){*}</label>
                                        <input 
                                            onlyNumber
                                            formControlName="cod_establecimiento_origen"
                                            placeholder="" 
                                            pSize="small" 
                                            fluid 
                                            pInputText 
                                            [class]="'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!'" 
                                            [invalid]="f_datosEnvio.cod_establecimiento_origen?.invalid && (f_datosEnvio.cod_establecimiento_origen?.touched || submitted())"
                                        />
                                        @if (f_datosEnvio.cod_establecimiento_origen?.invalid && (f_datosEnvio.cod_establecimiento_origen?.touched || submitted())) {
                                            <p-message severity="error" size="small" variant="simple"><span class="text-[10px]!">
                                                El código debe tener 4 digitos
                                            </span></p-message>
                                        }
                                    </div>
                                    <div>
                                        <label 
                                            class="text-[11px]! h-4.5! text-gray-500"
                                            [class.font-semibold]="!(f_datosEnvio.cod_puerto.value || f_datosEnvio.cod_aeropuerto.value)"
                                        >Ruc. del establecimiento 
                                        @if(!(f_datosEnvio.cod_puerto.value || f_datosEnvio.cod_aeropuerto.value)){*}
                                        </label>
                                        <input 
                                            formControlName="ruc_establecimiento_origen"
                                            placeholder="" 
                                            pSize="small" 
                                            fluid 
                                            pInputText 
                                            [class]="'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                        />
                                    </div>
                                </div>
                            }
                            

                            @if(
                                motivoTraslado!.codigo_sunat === sunatMotivoTrasladoEnum.traslado_establecimientos_misma_empresa
                            ){
                                <div class="grid grid-cols-4 gap-2">
                                    <div>
                                        <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Cod. Establec. Punto Llegada *</label>
                                        <input 
                                            onlyNumber
                                            formControlName="cod_establecimiento_destino"
                                            placeholder="" 
                                            pSize="small" 
                                            fluid 
                                            pInputText 
                                            [class]="'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                            [invalid]="f_datosEnvio.cod_establecimiento_destino?.invalid && (f_datosEnvio.cod_establecimiento_destino?.touched || submitted())"
                                        />
                                        @if (f_datosEnvio.cod_establecimiento_destino?.invalid && (f_datosEnvio.cod_establecimiento_destino?.touched || submitted())) {
                                            <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                                                El código debe tener 4 digitos
                                            </span></p-message>
                                        }
                                    </div>
                                    <div>
                                        <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Ruc. del establecimiento *</label>
                                        <input 
                                            formControlName="ruc_establecimiento_destino"
                                            placeholder="" 
                                            pSize="small" 
                                            fluid 
                                            pInputText 
                                            [class]="'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                        />
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    
                    <p-fieldset [toggleable]="true" collapsed="true">
                        <ng-template #header>
                            <div class="flex items-center gap-x-2">
                                <span class="font-semibold text-md! text-primary">Otros datos adicionales</span>
                                <ng-icon name="heroQuestionMarkCircleSolid" class="text-primary! min-w-3.25!" pTooltip="Solo en el caso que lo necesites, los indicadores te servirán para poder darle una mejor identificación al tipo de guía electrónica que estás emitiendo." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/>
                            </div>
                        </ng-template>
                        <div class="flex flex-col">

                            @if(
                                tipoTransporte === 'PRIVADO' || 
                                tipoGuia === 'TRANSPORTISTA'
                            ){
                                <div class="grid gri-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-2 gap-y-3 mt-6">

                                    <div class="md:col-span-2 lg:col-span-3 xl:col-span-4 flex items-center gap-1">
                                        <label for="" class="text-xs! font-semibold">Datos de la autorización especial para el traslado de carga (opcional)</label>
                                        <ng-icon name="heroQuestionMarkCircleSolid" class="min-w-3.25! text-gray-500!" pTooltip="Dato no mandatorio. Permiso especial otorgado para transportar mercancías que requieren de equipos especiales de transporte o condiciones especiales de transporte (carga que necesite refrigeración, transporte de automóviles, ganado en pie, productos de gran fragilidad, combustibles, etc.)" tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/>
                                    </div>

                                    <div class="flex flex-col">
                                        <label class="text-[11px]! h-4.5! text-gray-500">N° de autorización especial (opcional)</label>
                                        <input 
                                        pSize="small" 
                                        fluid 
                                        pInputText 
                                        class="text-xs! shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" formControlName="num_autoriza_especial_adicional"
                                        />
                                    </div>

                                    <div class="flex flex-col">
                                        <label class="text-[11px]! h-4.5! text-gray-500 truncate" title="Entidad emisora de la autorización vahícular (opcional)" >Entidad emisora de la autorización especial (opcional)</label>
                                        <p-select 
                                            fluid
                                            size="small" 
                                            [inputSize]="2" 
                                            inputId="text-xs"
                                            panelStyleClass="text-[.875rem]!"
                                            class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                                            [options]="ussuingEntities" 
                                            placeholder="Seleccionar..." 
                                            optionValue="value" 
                                            optionLabel="description" 
                                            appendTo="body"
                                            [showClear]="true"
                                            formControlName="ent_emisora_especial_adicional"
                                            pTooltip="Entidad emisora de la autorización especial (opcional)"
                                            tooltipPosition="top"
                                            tooltipStyleClass="text-xs! text-slate-300!"
                                        />
                                    </div>

                                </div> 
                            }

                            <div class="grid gri-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-x-2 gap-y-3 mt-6">

                                <div class="md:col-span-2 lg:col-span-2 xl:col-span-3 flex items-center gap-1">
                                    <label for="" class="text-xs! font-semibold">Indicadores:</label>
                                </div>

                                @if(!f_datosEnvio.traslado_vehiculo_categoria.value){
                                    <div class="flex items-center gap-2">
                                        <p-checkbox 
                                        formControlName="indic_retorno_vehiculo_envase_vacio_adicional" inputId="indic_retorno_vehiculo_envase_vacio_adicional" 
                                        size="large" 
                                        [binary]="true"/>
                                        <label for="indic_retorno_vehiculo_envase_vacio_adicional" class="text-xs! font-semibold text-gray-500! cursor-pointer">Indicador de retorno de vehículo con envases o embalajes vacíos</label>
                                    </div>
                                }

                                <div class="flex items-center gap-2">
                                    <p-checkbox 
                                        formControlName="indic_transbordo_programado_adicional" inputId="indic_transbordo_programado_adicional" 
                                        size="large" 
                                        [binary]="true"
                                    />
                                    <label for="indic_transbordo_programado_adicional" class="text-xs! font-semibold text-gray-500! cursor-pointer">Transbordo Programado</label>
                                </div>

                                @if(!f_datosEnvio.traslado_vehiculo_categoria.value){
                                    <div class="flex items-center gap-2">
                                        <p-checkbox 
                                        formControlName="indic_retorno_vehiculo_vacio_adicional" inputId="indic_retorno_vehiculo_vacio_adicional" 
                                        size="large" 
                                        [binary]="true"/>
                                        <label for="indic_retorno_vehiculo_vacio_adicional" class="text-xs! font-semibold text-gray-500! cursor-pointer">Indicador de retorno de vehículo vacío</label>
                                    </div>
                                }

                            </div> 
                        </div>
                    </p-fieldset>

                </div>
            </p-tabpanel>

            
            @if(mostrarProveedor()){
                <p-tabpanel value="1">
                    <div class="flex flex-col gap-4">

                        <div class="flex flex-wrap gap-x-2">

                            <p-button 
                                [outlined]="true"
                                (onClick)="evtOnShowListaProveedor()" 
                                size="small" 
                                styleClass="text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
                                class="text-xs!" 
                                icon="pi pi-search text-xs!" 
                                severity="primary" 
                                label="Seleccionar proveedor"
                            ></p-button>

                            <a href="/administracion/proveedor" target="_blank" class="p-ripple p-button p-button-link p-button-sm p-component underline! font-medium text-xs!">Administrar</a>

                        </div>

                        @if(mostrarProveedor() && !proveedor){
                            <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Debe seleccionar un proveedor.</span></p-message>
                        }

                        
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-2 gap-x-3">
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Tipo de documento *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="proveedor?.tipo_documento ?? '--'"></app-typing>
                                </div>

                                <!--<div class="cursor-not-allowed">
                                <p-select 
                                fluid
                                size="small"
                                [inputSize]="2"
                                panelStyleClass="text-[.875rem]!"
                                class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs! leading-2"
                                
                                [options]="documentEntityProviderTypes" 
                                placeholder="Seleccionar..." 
                                optionValue="value" 
                                optionLabel="description" 
                                appendTo="body"
                                readonly
                                formControlName="tipo_documento_proveedor"
                                [invalid]="f_datosProveedor.tipo_documento_proveedor.invalid && ( f_datosProveedor.tipo_documento_proveedor.touched || submitted())"
                                />
                                </div>
                                @if (f_datosProveedor.tipo_documento_proveedor.invalid && (f_datosProveedor.tipo_documento_proveedor.touched || submitted())) {
                                    <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                                }-->
                            </div>

                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">N° Documento *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="proveedor?.numero_documento ?? '--'"></app-typing>
                                </div>
                                
                                <!--<input 
                                    pSize="small" 
                                    fluid 
                                    pInputText 
                                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                                    formControlName="numero_documento_proveedor"
                                    [invalid]="f_datosProveedor.numero_documento_proveedor.invalid && (f_datosProveedor.numero_documento_proveedor.touched || submitted())"
                                    readonly
                                />
                                @if (f_datosProveedor.numero_documento_proveedor.invalid && (f_datosProveedor.numero_documento_proveedor.touched || submitted())) {
                                    <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                                }-->
                            </div>

                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Nombre o Razón Social *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="proveedor?.razon_social ?? '--'"></app-typing>
                                </div>

                                <!--<input 
                                    pSize="small" 
                                    fluid 
                                    pInputText 
                                    formControlName="nombre_rsocial_proveedor" 
                                    [class]="f_datosProveedor.nombre_rsocial_proveedor.invalid && (f_datosProveedor.nombre_rsocial_proveedor.touched || submitted()) ? ' shadow-none! border-primary-400! focus:border-primary-400!' : 'shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                    [invalid]="f_datosProveedor.nombre_rsocial_proveedor.invalid && (f_datosProveedor.nombre_rsocial_proveedor.touched || submitted())" 
                                    readonly
                                />
                                @if (f_datosProveedor.nombre_rsocial_proveedor.invalid && (f_datosProveedor.nombre_rsocial_proveedor.touched || submitted())) {
                                    <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                                }-->
                            </div>

                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500 ">Dirección</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="proveedor?.direccion ?? '--'"></app-typing>
                                </div>

                                <!--<input 
                                    pSize="small" 
                                    fluid 
                                    pInputText 
                                    formControlName="direccion_proveedor" 
                                    class="shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                                    readonly
                                />-->
                            </div>

                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500">Departamento</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="proveedor?.departamento ?? '--'"></app-typing>
                                </div>
                                <!--<app-select-departamento 
                                    #departamentoProveedor
                                    [control]="f_datosProveedor.idDepartamento" 
                                    class="cursor-not-allowed"
                                    classLabel="text-[11px]! h-4.5! text-gray-500 " 
                                    label="Departamento"
                                    [readonly]="true"
                                ></app-select-departamento>-->
                            </div>
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500">Provincia</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="proveedor?.provincia ?? '--'"></app-typing>
                                </div>

                                <!--<app-select-provincia 
                                    #provinciaProveedor
                                    [control]="f_datosProveedor.idProvincia" 
                                    class="cursor-not-allowed"
                                    [idUbigeoDepartamento]="f_datosProveedor.idDepartamento.value" 
                                    classLabel="text-[11px]! h-4.5! text-gray-500"
                                    [readonly]="true"
                                ></app-select-provincia>-->
                            </div>
                            <div class="flex flex-col">
                                <label class="text-[11px]! h-4.5! text-gray-500">Distrito</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="proveedor?.distrito ?? '--'"></app-typing>
                                </div>

                                <!--<app-select-distrito 
                                    #distritoProveedor
                                    label="Distrito"
                                    [control]="f_datosProveedor.idDistrito" 
                                    class="cursor-not-allowed"
                                    [idUbigeoProvincia]="f_datosProveedor.idProvincia.value" 
                                    classLabel="text-[11px]! h-4.5! text-gray-500" 
                                    [readonly]="true"
                                ></app-select-distrito>-->
                            </div>
                        </div>
                        

                    </div>
                </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
</div>

<p-confirmdialog styleClass="max-w-[400px]" #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8  rounded-xl">
            <div class="rounded-full bg-blue-200 text-blue-700 inline-flex justify-center items-center h-24 w-24 -mt-20"
            >
                <i class="font-bold pi pi-question text-5xl!"></i>
            </div>
            <span class="font-semibold text-xl block mb-2 mt-6 text-center">{{ message.header }}</span>
            <p class="mb-0 text-xs">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                <p-button label="Cancelar" severity="secondary" (onClick)="onReject()" styleClass="w-32"></p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
