<div class="flex flex-col gap-x-4 gap-y-2 p-4 pt-8!">
    <div class="grid grid-cols-4 gap-x-2 gap-y-2">
        <div class="col-span-4 ">
            <label class="text-[11px]! text-slate-500 font-medium">Dirección</label>
            <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                <app-typing [text]="destinatario?.direccion ?? '--'" class="font-semibold! text-slate-600!"></app-typing>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2">
        <div>
            <label class="text-[11px]! h-4.5! text-slate-500 font-medium">Departamento</label>
            <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                <app-typing [text]="destinatario?.departamento ?? '--'" class="font-semibold! text-slate-600!"></app-typing>
            </div>
        </div>
        <div>
            <label class="text-[11px]! h-4.5! text-slate-500 font-medium">Provincia</label>
            <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                <app-typing [text]="destinatario?.provincia ?? '--'" class="font-semibold! text-slate-600!"></app-typing>
            </div>
        </div>
        <div>
            <label class="text-[11px]! h-4.5! text-slate-500 font-medium">Distrito</label>
            <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                <app-typing [text]="destinatario?.distrito ?? '--'" class="font-semibold! text-slate-600!"></app-typing>
            </div>
        </div>
    </div>

    <p class="inline-flex items-center text-sm! font-medium! text-blue-600! py-1 px-3 rounded-lg! bg-blue-100! border-s-3! border-blue-500! mt-3"><i class="fa-solid fa-circle-exclamation text-lg! me-3"></i> Los datos son obtenidos previamente del destinatario seleccionado.</p>
    
</div>