<p-panel [toggleable]="true" [collapsed]="collapsed"  class="border-none!">
    <ng-template #header let-header>
        <div class="flex items-center gap-2 text-primary! font-medium">
            <i class="pi pi-filter"></i>
            <span>Busqueda avanzada</span>
        </div>
    </ng-template>
    <form [formGroup]="formGroup">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-3 p-2">

            <div>
                <label class="font-normal text-[11px]!">Fecha Registro</label>
                <app-flt-date 
                #fechaRegistro
                [today]="false"
                column="fecha_registro"
                (OnValuesChange)="evtChangeFechaRegistro($event)"></app-flt-date>
            </div>

            <div>
                <label class="font-normal text-[11px]!">Fecha Emisión</label>
                <app-flt-date 
                #fechaEmision
                [today]="false" 
                column="fecha_emision"
                (OnValuesChange)="evtChangeFechaEmision($event)"></app-flt-date>
            </div>

            <div>
                <label class="font-normal text-[11px]!">Empresa</label>
                <p-select 
                #rucEmpresa
                formControlName="rucEmpresa"
                fluid
                filter="true"
                size="small" 
                [inputSize]="2" 
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                [options]="empresas | async"  
                placeholder="Todos" 
                optionValue="ruc" 
                optionLabel="empresa" 
                showClear="true"
                appendTo="body"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"/>
                        </span>
                    </ng-template>
                </p-select>
            </div>

            <div>
                <label class="font-normal text-[11px]!">Remitente / Local</label>
                <p-multiselect
                #idRemitente 
                formControlName="idRemitente"
                fluid
                [options]="remitentes"  
                [placeholder]="ldRemitentes ? 'Cargando ...' : 'Todos'" 
                size="small" 
                class="h-[28px]!" 
                panelStyleClass="text-[12px]!"
                optionValue="id" 
                optionLabel="descripcion" 
                showClear="true"
                appendTo="body"
                filter="true"
                [loading]="ldRemitentes"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-[12px]! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"/>
                        </span>
                    </ng-template>

                    <ng-template #footer>
                        <div class="p-3 flex border-t border-t-gray-200">
                            @if(idRemitente.value){
                                <p-button 
                                label="Limpiar" 
                                severity="danger" 
                                size="small" 
                                outlined
                                class="mr-auto!"
                                styleClass="text-xs! bg-red-100! border-0! hover:bg-red-500! hover:text-white!"
                                icon="pi pi-times text-xs!" 
                                (click)="evtClearControl('idRemitente')" />
                            }
                            <p-button 
                            class="ml-auto!"
                            styleClass="text-xs! bg-green-100! border-0! hover:bg-green-500! hover:text-white!"
                            label="Aceptar" 
                            outlined
                            severity="success" 
                            size="small" 
                            icon="pi pi-check text-xs!"   
                            (click)="evtCloseMultiSelect(idRemitente)" />
                        </div>
                    </ng-template>
                </p-multiselect>

            </div>

            <div>
                <label class="font-normal text-[11px]!">Tipo Guía</label>
                <p-select 
                formControlName="tipoGuia"
                fluid
                size="small" 
                [inputSize]="2" 
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                [options]="tiposGuia"  
                placeholder="Todos" 
                optionValue="value" 
                optionLabel="label" 
                showClear="true"
                appendTo="body"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"/>
                        </span>
                    </ng-template>
                </p-select>
            </div>

            <div>
                <label class="font-normal text-[11px]!">Serie Guía</label>
                <p-iconfield>
                    <input 
                    #serieGuia
                    formControlName="serieGuia"
                    placeholder="Todos" 
                    pSize="small" 
                    fluid 
                    pInputText 
                    [maxlength]="4"
                    class="h-[28px]!" 
                    />
                    @if(serieGuia.value){
                        <p-inputicon 
                        pTooltip="Limpiar"
                        tooltipPosition="top"
                        tooltipStyleClass="text-xs! text-center"
                        class="pi pi-times text-xs! cursor-pointer" 
                        (click)="evtClearControl('serieGuia')" 
                        />
                    }
                </p-iconfield>
            </div>

            <div>
                <label class="font-normal text-[11px]!">N° Guía</label>
                <p-iconfield>
                    <input 
                    #numeroGuia
                    formControlName="numeroGuia"
                    placeholder="Todos" 
                    pSize="small" 
                    fluid 
                    pInputText 
                    onlyNumber
                    [maxLength]="8"
                    class="h-[28px]!" 
                    />
                    @if(numeroGuia.value){
                        <p-inputicon 
                        pTooltip="Limpiar"
                        tooltipPosition="top"
                        tooltipStyleClass="text-xs! text-center"
                        class="pi pi-times text-xs! cursor-pointer" 
                        (click)="evtClearControl('numeroGuia')" 
                        />
                    }
                </p-iconfield>
            </div>

            <div>
                <label class="font-normal text-[11px]!">T. Traslado</label>
                <p-multiselect
                #idTipoTraslado 
                formControlName="idTipoTraslado"
                fluid
                [options]="tiposTraslado"  
                placeholder="Todos" 
                size="small" 
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                optionValue="value" 
                optionLabel="label" 
                showClear="true"
                appendTo="body"
                filter="true"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template #dropdownicon>
                        <i 
                        class="pi text-xs!"
                        [ngClass]="{'pi-chevron-up': idTipoTraslado.overlayVisible, 'pi-chevron-down': !idTipoTraslado.overlayVisible}"
                        ></i>
                    </ng-template>

                    <ng-template #footer>
                        <div class="p-3 flex border-t border-t-gray-200">
                            @if(idTipoTraslado.value){
                            <p-button 
                            label="Limpiar" 
                            severity="danger" 
                            size="small" 
                            outlined
                            class="mr-auto!"
                            styleClass="text-xs! bg-red-100! border-0! hover:bg-red-500! hover:text-white!"
                            icon="pi pi-times text-xs!" 
                            (click)="evtClearControl('idTipoTraslado')" />
                            }
                            <p-button 
                            class="ml-auto!"
                            label="Aceptar" 
                            severity="success" 
                            styleClass="text-xs! bg-green-100! border-0! hover:bg-green-500! hover:text-white!"
                            outline
                            text 
                            size="small" 
                            icon="pi pi-check text-xs!"  
                            (click)="evtCloseMultiSelect(idTipoTraslado)" />
                        </div>
                    </ng-template>
                </p-multiselect>

            </div>

            <div>
                <label class="font-normal text-[11px]!">Tipo Transporte</label>
                <p-select 
                formControlName="idTipoTransporte"
                fluid
                size="small" 
                [inputSize]="2" 
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                [options]="tiposTransporte"  
                placeholder="Todos" 
                optionValue="value" 
                optionLabel="label" 
                showClear="true"
                appendTo="body"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"/>
                        </span>
                    </ng-template>
                </p-select>
            </div>

            <div>
                <label class="font-normal text-[11px]! inline-block">
                    <span>Destinatario</span>
                    <ng-icon 
                    pTooltip="Buscar destinatario por nombre, razón social o ruc para luego seleccionarlo"
                    tooltipPosition="top"
                    tooltipStyleClass="text-xs! text-center"
                    class="text-[12px]!" 
                    name="heroQuestionMarkCircleMini" />
                </label>
                <p-select 
                [emptyMessage]="ldDestinatarios ? 'Buscando ...' : ''"
                formControlName="idDestinatario"
                fluid
                size="small" 
                editable="true"
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                [options]="destinatarios | async"  
                placeholder="Todos" 
                optionValue="id" 
                optionLabel="razon_social"
                showClear="true"
                appendTo="body"
                [loading]="ldDestinatarios"
                (input)="evtFilterDestinatario($event)"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"/>
                        </span>
                    </ng-template>
                    
                    <ng-template let-item #item>
                        <div class="flex flex-col">
                            <span class="text-gray-800 font-medium!">{{ item.razon_social }}</span>
                            <span class="text-xs! text-gray-500">{{ item.numero_documento }}</span>
                        </div>
                    </ng-template>

                </p-select>
            </div>

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-3 p-2">
            <p-button 
                icon="pi pi-filter-slash text-[13px]!" 
                label="Limpiar todo"
                size="small"
                fluid=""
                severity="primary"
                pTooltip="Limpiar todo"
                tooltipPosition="top"
                tooltipStyleClass="text-xs!"
                placeholder="Top"
                styleClass="min-w-9! h-9!"
                placeholder="Top"
                [badge]="countActived.toString()"
                badgeSeverity="contrast"
                (click)="evtClearAll()"
            />
        </div>
    </form>
    
</p-panel>