<p-panel [toggleable]="true" [collapsed]="collapsed"  class="border-none!">
    <ng-template #header let-header>
        <div class="flex items-center gap-2 text-slate-600! font-medium p-4 text-lg">
            <i class="pi pi-filter"></i>
            <span class="roboto-condensed">Busqueda avanzada</span>
        </div>
    </ng-template>
    <form [formGroup]="formGroup">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-3 p-2">

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Fecha Registro</label>
                <app-flt-date 
                    #fechaRegistro
                    [today]="true"
                    column="fecha_registro"
                    (OnValuesChange)="evtChangeFechaRegistro($event)"
                ></app-flt-date>
            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Fecha Emisión</label>
                <app-flt-date 
                    #fechaEmision
                    [today]="false" 
                    column="fecha_emision"
                    (OnValuesChange)="evtChangeFechaEmision($event)"
                ></app-flt-date>
            </div>

            <!--Remitente-->
            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Remitente</label>
                <p-select 
                    #remitenteId
                    formControlName="remitenteId"
                    fluid
                    filter="true"
                    size="small" 
                    [inputSize]="2" 
                    panelStyleClass="text-[12px]!"
                    class="h-[28px]!"
                    [options]="empresas()"  
                    [loading]="ldEmpresas()"
                    filterBy="ruc,empresa"
                    placeholder="Todos" 
                    optionValue="ruc" 
                    optionLabel="empresa" 
                    showClear="true"
                    appendTo="body"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                                class="pi pi-times text-xs! cursor-pointer"
                                pTooltip="Limpiar"
                                tooltipPosition="top"
                                tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template let-empresa #item>
                        <span class="flex flex-col">
                            <span class="font-medium">{{ empresa.empresa }}</span>
                            <span>{{ empresa.ruc }}</span>
                        </span>
                    </ng-template>
                </p-select>
            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Origen</label>
                <p-multiselect
                    #establecimientoRemitenteId 
                    formControlName="establecimientoRemitenteId"
                    fluid
                    [options]="establecimientosRemitente()"  
                    [placeholder]="ldEstablecimientosRemitente() ? 'Cargando ...' : 'Todos'" 
                    size="small" 
                    class="h-[28px]!"
                    panelStyleClass="text-[12px]!"
                    optionValue="id" 
                    optionLabel="descripcion" 
                    showClear="true"
                    appendTo="body"
                    filter="true"
                    [loading]="ldEstablecimientosRemitente()"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                                class="pi pi-times text-[12px]! cursor-pointer"
                                pTooltip="Limpiar"
                                tooltipPosition="top"
                                tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template #footer>
                        <div class="p-3 flex border-t border-t-gray-200">
                            @if(establecimientoRemitenteId.value){
                                <p-button 
                                    label="Limpiar" 
                                    severity="danger" 
                                    size="small" 
                                    outlined
                                    class="mr-auto!"
                                    styleClass="text-xs! bg-red-100! border-0! hover:bg-red-500! hover:text-white!"
                                    icon="pi pi-times text-xs!" 
                                    (click)="evtClearControl('establecimientoRemitenteId')" 
                                />
                            }
                            <p-button 
                                class="ml-auto!"
                                styleClass="text-xs! bg-green-100! border-0! hover:bg-green-500! hover:text-white!"
                                label="Aceptar" 
                                outlined
                                severity="success" 
                                size="small" 
                                icon="pi pi-check text-xs!"   
                                (click)="evtCloseMultiSelect(establecimientoRemitenteId)" 
                            />
                        </div>
                    </ng-template>
                </p-multiselect>

            </div>

            <!--Destinatario-->

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Destinatario</label>
                <p-select 
                    #destinatarioId
                    formControlName="destinatarioId"
                    fluid
                    filter="true"
                    size="small" 
                    [inputSize]="2" 
                    panelStyleClass="text-[12px]!"
                    class="h-[28px]!"
                    [options]="empresas()"  
                    [loading]="ldEmpresas()"
                    filterBy="ruc,empresa"
                    placeholder="Todos" 
                    optionValue="ruc" 
                    optionLabel="empresa" 
                    showClear="true"
                    appendTo="body"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                                class="pi pi-times text-xs! cursor-pointer"
                                pTooltip="Limpiar"
                                tooltipPosition="top"
                                tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template let-empresa #item>
                        <span class="flex flex-col">
                            <span class="font-medium">{{ empresa.empresa }}</span>
                            <span>{{ empresa.ruc }}</span>
                        </span>
                    </ng-template>
                </p-select>
            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Destino</label>
                <p-multiselect
                    #establecimientoDestinatarioId 
                    formControlName="establecimientoDestinatarioId"
                    fluid
                    [options]="establecimientosDestinatario()"  
                    [placeholder]="ldEstablecimientosDestinatario() ? 'Cargando ...' : 'Todos'" 
                    size="small" 
                    class="h-[28px]!"
                    panelStyleClass="text-[12px]!"
                    optionValue="id" 
                    optionLabel="descripcion" 
                    showClear="true"
                    appendTo="body"
                    filter="true"
                    [loading]="ldEstablecimientosDestinatario()"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                                class="pi pi-times text-[12px]! cursor-pointer"
                                pTooltip="Limpiar"
                                tooltipPosition="top"
                                tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template #footer>
                        <div class="p-3 flex border-t border-t-gray-200">
                            @if(establecimientoDestinatarioId.value){
                                <p-button 
                                    label="Limpiar" 
                                    severity="danger" 
                                    size="small" 
                                    outlined
                                    class="mr-auto!"
                                    styleClass="text-xs! bg-red-100! border-0! hover:bg-red-500! hover:text-white!"
                                    icon="pi pi-times text-xs!" 
                                    (click)="evtClearControl('establecimientoDestinatarioId')" 
                                />
                            }
                            <p-button 
                                class="ml-auto!"
                                styleClass="text-xs! bg-green-100! border-0! hover:bg-green-500! hover:text-white!"
                                label="Aceptar" 
                                outlined
                                severity="success" 
                                size="small" 
                                icon="pi pi-check text-xs!"   
                                (click)="evtCloseMultiSelect(establecimientoDestinatarioId)" 
                            />
                        </div>
                    </ng-template>
                </p-multiselect>

            </div>

            <!--<div>
                <label class="font-normal text-[11px]!">Tipo Guía</label>
                <p-select 
                formControlName="tipoGuia"
                fluid
                size="small" 
                [inputSize]="2" 
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                [options]="tiposGuia"  
                placeholder="Todos" 
                optionValue="value" 
                optionLabel="label" 
                showClear="true"
                appendTo="body"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"/>
                        </span>
                    </ng-template>
                </p-select>
            </div>-->

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Serie Guía</label>
                <p-iconfield>
                    <input 
                    #serieGuia
                    formControlName="serieGuia"
                    placeholder="Todos" 
                    pSize="small" 
                    fluid 
                    pInputText 
                    [maxlength]="4"
                    class="h-[28px]!" 
                    />
                    @if(serieGuia.value){
                        <p-inputicon 
                        pTooltip="Limpiar"
                        tooltipPosition="top"
                        tooltipStyleClass="text-xs! text-center"
                        class="pi pi-times text-xs! cursor-pointer" 
                        (click)="evtClearControl('serieGuia')" 
                        />
                    }
                </p-iconfield>
            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">N° Guía</label>
                <p-iconfield>
                    <input 
                    #numeroGuia
                    formControlName="numeroGuia"
                    placeholder="Todos" 
                    pSize="small" 
                    fluid 
                    pInputText 
                    onlyNumber
                    [maxLength]="8"
                    class="h-[28px]!" 
                    />
                    @if(numeroGuia.value){
                        <p-inputicon 
                        pTooltip="Limpiar"
                        tooltipPosition="top"
                        tooltipStyleClass="text-xs! text-center"
                        class="pi pi-times text-xs! cursor-pointer" 
                        (click)="evtClearControl('numeroGuia')" 
                        />
                    }
                </p-iconfield>
            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Motivo Traslado</label>
                <p-multiselect
                #motivoTrasladoId 
                formControlName="motivoTrasladoId"
                fluid
                [options]="motivosTraslado()" 
                [loading]="ldMotivosTraslado()" 
                [placeholder]="ldMotivosTraslado() ? 'Cargando ...' : 'Todos'" 
                size="small" 
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                optionValue="id" 
                optionLabel="nombre" 
                showClear="true"
                appendTo="body"
                filter="true"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template #dropdownicon>
                        <i 
                        class="pi text-xs!"
                        [ngClass]="{'pi-chevron-up': motivoTrasladoId.overlayVisible, 'pi-chevron-down': !motivoTrasladoId.overlayVisible}"
                        ></i>
                    </ng-template>

                    <ng-template #footer>
                        <div class="p-3 flex border-t border-t-gray-200">
                            @if(motivoTrasladoId.value){
                            <p-button 
                            label="Limpiar" 
                            severity="danger" 
                            size="small" 
                            outlined
                            class="mr-auto!"
                            styleClass="text-xs! bg-red-100! border-0! hover:bg-red-500! hover:text-white!"
                            icon="pi pi-times text-xs!" 
                            (click)="evtClearControl('motivoTrasladoId')" />
                            }
                            <p-button 
                            class="ml-auto!"
                            label="Aceptar" 
                            severity="success" 
                            styleClass="text-xs! bg-green-100! border-0! hover:bg-green-500! hover:text-white!"
                            outline
                            text 
                            size="small" 
                            icon="pi pi-check text-xs!"  
                            (click)="evtCloseMultiSelect(motivoTrasladoId)" />
                        </div>
                    </ng-template>
                </p-multiselect>

            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Tipo Transporte</label>
                <p-select 
                formControlName="idTipoTransporte"
                fluid
                size="small" 
                [inputSize]="2" 
                panelStyleClass="text-[12px]!"
                class="h-[28px]!"
                [options]="tiposTransporte"  
                placeholder="Todos" 
                optionValue="value" 
                optionLabel="label" 
                showClear="true"
                appendTo="body"
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"/>
                        </span>
                    </ng-template>
                </p-select>
            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Estado</label>
                <p-multiselect
                    #estadoGuia 
                    formControlName="estadoGuia" 
                    fluid 
                    [options]="guiaRemisionEstados()" 
                    placeholder="Todos" 
                    size="small" 
                    panelStyleClass="text-[12px]!" 
                    class="h-[28px]!" 
                    optionValue="id" 
                    optionLabel="nombre" 
                    showClear="true" 
                    appendTo="body" 
                    filter="true" 
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template #footer>
                        <div class="p-3 flex border-t border-t-gray-200">
                            @if(estadoGuia.value && estadoGuia.value.length > 0){
                                <p-button 
                                label="Limpiar" 
                                severity="danger" 
                                size="small" 
                                outlined
                                class="mr-auto!"
                                styleClass="text-xs! bg-red-100! border-0! hover:bg-red-500! hover:text-white!"
                                icon="pi pi-times text-xs!" 
                                (click)="evtClearControl('estadoGuia')" />
                            }
                            <p-button 
                            class="ml-auto!"
                            label="Aceptar" 
                            severity="success" 
                            styleClass="text-xs! bg-green-100! border-0! hover:bg-green-500! hover:text-white!"
                            outline
                            text 
                            size="small" 
                            icon="pi pi-check text-xs!"  
                            (click)="evtCloseMultiSelect(estadoGuia)" />
                        </div>
                    </ng-template>
                </p-multiselect>
            </div>

            <div>
                <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Estado Sunat</label>
                <p-multiselect
                    #estadoGuiaSunat 
                    formControlName="estadoGuiaSunat" 
                    fluid 
                    [options]="estadosGuiaSunat" 
                    placeholder="Todos" 
                    size="small" 
                    panelStyleClass="text-[12px]!" 
                    class="h-[28px]!" 
                    optionValue="value" 
                    optionLabel="label" 
                    showClear="true" 
                    appendTo="body" 
                    filter="true" 
                >
                    <ng-template #clearicon>
                        <span class="px-2">
                            <p-inputicon 
                            class="pi pi-times text-xs! cursor-pointer"
                            pTooltip="Limpiar"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"
                            />
                        </span>
                    </ng-template>

                    <ng-template #footer>
                        <div class="p-3 flex border-t border-t-gray-200">
                            @if(estadoGuiaSunat.value && estadoGuiaSunat.value.length > 0){
                                <p-button 
                                label="Limpiar" 
                                severity="danger" 
                                size="small" 
                                outlined
                                class="mr-auto!"
                                styleClass="text-xs! bg-red-100! border-0! hover:bg-red-500! hover:text-white!"
                                icon="pi pi-times text-xs!" 
                                (click)="evtClearControl('estadoGuiaSunat')" />
                            }
                            <p-button 
                            class="ml-auto!"
                            label="Aceptar" 
                            severity="success" 
                            styleClass="text-xs! bg-green-100! border-0! hover:bg-green-500! hover:text-white!"
                            outline
                            text 
                            size="small" 
                            icon="pi pi-check text-xs!"  
                            (click)="evtCloseMultiSelect(estadoGuiaSunat)" />
                        </div>
                    </ng-template>
                </p-multiselect>
            </div>

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-3 p-2">
            <p-button 
                icon="pi pi-filter-slash text-[13px]!" 
                label="Limpiar todo"
                size="small"
                fluid=""
                severity="primary"
                pTooltip="Limpiar todo"
                tooltipPosition="top"
                tooltipStyleClass="text-xs! text-slate-300!"
                placeholder="Top"
                styleClass="min-w-9! h-9!"
                placeholder="Top"
                [badge]="countActived.toString()"
                badgeSeverity="contrast"
                (click)="evtClearAll()"
            />
        </div>
    </form>
    
</p-panel>