<div class="flex flex-col">
    <label [attr.class]="classLabel">{{ label }}</label>
    <p-select 
    panelStyleClass="text-xs!" 
    size="small" 
    [loading]="loading | async" 
    fluid 
    [options]="ubigeoDepartamentos" 
    [formControl]="control" 
    [invalid]="invalid" 
    optionLabel="departamento" 
    optionValue="id" 
    [class]="invalid ? 'text-xs! shadow-none! border-primary-400! focus:border-primary-400!' : 'text-xs! shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!'" 
    [placeholder]="(loading | async) ? placeholderLoading : placeholder" 
    [filter]="true" 
    appendTo="body"
    [inputId]="inputId"></p-select>
</div>
