<div class="flex flex-col">
    @if($loading | async){
        <p-skeleton class="w-full" height="105px"></p-skeleton>
    }@else{
        <p-select 
        [loading]="loading | async" 
        fluid 
        (onChange)="onSelectItem($event)"
        [options]="data" 
        [formControl]="control" 
        [invalid]="invalid" 
        optionLabel="nombre_empresa"
        filterBy="nombre_empresa,descripcion,direccion,departamento,provincia,distrito,ruc"
        optionValue="remitente_id" 
        [class]="invalid ? 'min-h-9! shadow-none! border-primary-400! focus:border-primary-400! rounded-lg!' : 'min-h-9! shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs! rounded-lg!' " 
        [placeholder]="(loading | async) ? placeholderLoading : placeholder" 
        [filter]="true" 
        appendTo="body"
        [inputId]="inputId">
            <ng-template #selectedItem let-selectedOption>
                <div class="p-4 text-left">
                    <p class="font-semibold">{{ selectedOption.nombre_empresa }}</p>
                    <p class="uppercase">{{ selectedOption.descripcion }}</p>
                    <p class="uppercase">{{ selectedOption.direccion }} {{ selectedOption.departamento }} - {{ selectedOption.provincia }} - {{ selectedOption.distrito }}</p>
                </div>
            </ng-template>
            <ng-template let-item #item>
                <div class="flex flex-col">
                    <span class="font-semibold">{{ item.nombre_empresa }} - {{ item.ruc }}</span>
                    <span class="font-semibold">{{ item.descripcion }}</span>
                    <span class="uppercase text-sm">{{ item.direccion }} {{ item.departamento }} - {{ item.provincia }} - {{ item.distrito }}</span>
                </div>
            </ng-template>
        </p-select>
    }
</div>