<form [formGroup]="frm" (ngSubmit)="evtOnSubmit()">

    <div class="grid grid-cols-1 p-4">
        <div> 
           
            <div class="grid grid-cols-2 gap-3">

                <div class="col-span-2">

                    <p-button
                        fluid
                        severity="secondary"
                        outlined="true"
                        icon="pi pi-chevron-down"
                        iconPos="left"
                        styleClass="w-full! px-6! py-4! border-gray-300! hover:border-gray-400!"
                        (onClick)="evtShowEntityList()"
                    >
                        <div class="flex flex-row gap-x-4 w-full">
                            <p-avatar icon="fa-duotone fa-briefcase" class="bg-primary-100! text-primary!" size="large"></p-avatar>
                            <div class="flex flex-col justify-center text-sm text-start!">
                                @if(entitySelected() == null){
                                    <p>Seleccionar empresa</p>
                                }@else{
                                    <p class="font-semibold text-black!">{{ entitySelected()?.name ?? entitySelected()?.first_name + ' ' + entitySelected()?.last_name }}</p>
                                    <p class="uppercase text-black!">{{ entitySelected()?.document_number }}</p>
                                }
                            </div>
                        </div>
                    </p-button>

                </div>

                <div class="col-span-2">
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Descripción / Alías</label>
                    <input 
                    fluid 
                    onlyUpper 
                    pInputText 
                    type="text" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="description" 
                    [invalid]="frm.get('description')?.invalid && (frm.get('description')?.touched || isSubmitted())"/>
                    @if (frm.get('description')?.invalid && (frm.get('description')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.description.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.description.hasError('maxlength')) {
                            La descripción no debe exceder los 200 caracteres.
                        }</span>
                        </p-message>
                    }
                </div>
                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Area <span class="text-[11px]! text-slate-400 roboto-condensed ">(opcional)</span></label>
                    <input 
                    fluid 
                    onlyUpper 
                    pInputText 
                    type="text" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="area" 
                    [invalid]="frm.get('area')?.invalid && (frm.get('area')?.touched || isSubmitted())"/>
                    @if (frm.get('area')?.invalid && (frm.get('area')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.area.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.area.hasError('maxlength')) {
                            La descripción no debe exceder los 200 caracteres.
                        }</span>
                        </p-message>
                    }
                </div>
                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Departamento</label>
                    <app-select-departamento 
                        [control]="f.departamento" 
                        classLabel="text-[13px]! text-slate-500 font-semibold roboto-condensed" 
                        label="Departamento *"
                    ></app-select-departamento>
                    @if (frm.get('departamento')?.invalid && (frm.get('departamento')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" >
                        <span class="text-[10px]! ">Este campo es requerido.</span>
                        </p-message>
                    }
                </div>
                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Provincia</label>
                    <app-select-provincia 
                        [control]="f.provincia" 
                        [idUbigeoDepartamento]="f.departamento.value" 
                        classLabel="text-[13px]! text-slate-500 font-semibold roboto-condensed"
                        label="Provincia *"
                    ></app-select-provincia>
                    @if (frm.get('provincia')?.invalid && (frm.get('provincia')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" >
                        <span class="text-[10px]! ">Este campo es requerido.</span>
                        </p-message>
                    }
                </div>
                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Distrito</label>
                    <app-select-distrito 
                        label="Distrito *"
                        [control]="f.distrito" 
                        [idUbigeoProvincia]="f.provincia.value" 
                        classLabel="text-[13px]! text-slate-500 font-semibold roboto-condensed" 
                    ></app-select-distrito>
                    @if (frm.get('distrito')?.invalid && (frm.get('distrito')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" >
                        <span class="text-[10px]! ">Este campo es requerido.</span>
                        </p-message>
                    }
                </div>
                
                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Dirección</label>
                    <input 
                    fluid 
                    onlyUpper
                    pInputText 
                    type="text" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="address" 
                    autofocus="true"
                    [invalid]="frm.get('address')?.invalid && (frm.get('address')?.touched || isSubmitted())"/>
                    @if (frm.get('address')?.invalid && (frm.get('address')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.address.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.address.hasError('maxlength')) {
                            La dirección no debe exceder los 250 caracteres.
                        }</span>
                        </p-message>
                    }
                </div>

                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Email <span class="text-[11px]! text-slate-400 roboto-condensed ">(opcional)</span></label>
                    <input 
                    fluid 
                    onlyUpper
                    pInputText 
                    type="email" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="email" 
                    autofocus="true"
                    [invalid]="frm.get('email')?.invalid && (frm.get('email')?.touched || isSubmitted())"/>
                    @if (frm.get('email')?.invalid && (frm.get('email')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.email.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.email.hasError('maxlength')) {
                            La dirección no debe exceder los 100 caracteres.
                        }</span>
                        </p-message>
                    }
                </div>

                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Serie</label>
                    <input 
                    fluid 
                    onlyNumber
                    pInputText 
                    type="serie" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="serie" 
                    autofocus="true"
                    [invalid]="frm.get('serie')?.invalid && (frm.get('serie')?.touched || isSubmitted())"/>
                    @if (frm.get('serie')?.invalid && (frm.get('serie')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                            La serie debe tener 3 caracteres.
                        </span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Cod. Sunat</label>
                    <input 
                    fluid 
                    onlyNumber
                    pInputText 
                    type="code_sunat" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="code_sunat" 
                    autofocus="true"
                    [invalid]="frm.get('code_sunat')?.invalid && (frm.get('code_sunat')?.touched || isSubmitted())"/>
                    @if (frm.get('code_sunat')?.invalid && (frm.get('code_sunat')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                            @if (f.code_sunat.hasError('required')) {
                                Este campo es requerido.
                            }
                            @else{
                               La código debe tener 4 caracteres.
                            }
                        </span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Tipo Establecimiento</label>
                    @if(!ldTipoEstablecimiento()){
                        <p-select 
                            fluid
                            size="small"
                            [inputSize]="2"
                            panelStyleClass="text-[.875rem]!"
                            class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs! leading-2"
                            [options]="tiposEstablecimiento()" 
                            placeholder="Seleccionar..." 
                            optionValue="codigo" 
                            optionLabel="tipo" 
                            appendTo="body"
                            formControlName="tipo"
                            [invalid]="frm.get('tipo')?.invalid && ( frm.get('tipo')?.touched || isSubmitted())"
                        />
                    }@else{
                        <p-skeleton width="100%" height="32px"></p-skeleton>
                    }
                    @if (frm.get('tipo')?.invalid && (frm.get('tipo')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed">Establecimiento principal?</label>

                    <label for="isMain" class="flex items-center w-full! h-9! px-4 border border-slate-300 rounded-lg hover:border-slate-400 cursor-pointer">
                        <div class="flex flex-row gap-3 items-center">
                            <p-checkbox inputId="isMain" formControlName="is_main" [binary]="true" class="pointer-none!"/>
                            <span class="text-sm no-underline">{{ f.is_main.value ? 'SI' : 'NO' }}</span>
                        </div>
                        
                    </label>

                    @if (frm.get('is_main')?.invalid && (frm.get('is_main')?.touched || isSubmitted())) {
                        <p-message severity="error" size="small" variant="simple" >
                            <span class="text-[10px]! ">
                                @if (f.is_main.hasError('required')) {
                                    Este campo es requerido.
                                }
                            </span>
                        </p-message>
                    }
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="flex justify-end gap-2 pt-4">
        <p-button 
            styleClass="w-[92px]!" 
            type="reset" 
            icon="pi pi-times" 
            size="small" 
            label="Cancelar" 
            severity="secondary" 
            (click)="evtOnClose()"
        />
        <p-button 
            styleClass="w-[92px]!" 
            type="submit" 
            icon="pi pi-save" 
            size="small" 
            [label]="ldSubmit() ? '' : 'Guardar'" 
            [loading]="ldSubmit()" 
            severity="primary" 
        />
    </div>

</form>





<div class="card flex justify-center">

    <p-confirmdialog styleClass="max-w-[400px]! rounded-3xl!" #cd appendTo="body">
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 rounded-xl">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
                >
                    <i class="pi pi-question text-5xl!"></i>
                </div>
                <span class="font-semibold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                    <p-button label="Cancelar" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>
</div>