<div class="border-2 border-primary rounded-xl overflow-hidden p-4"> 

    <p class="text-primary text-xs! font-semibold mb-4">Agregar bienes o productos a transportar</p>

    <form [formGroup]="form" (ngSubmit)="evtOnSubmit()" class="flex flex-col gap-4">
        <div formArrayName="items">
            <p-table 
            [value]="items.controls" 
            size="small"
            [rowHover]="true"
            >
            
                <!-- 👇 Cabecera -->
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-xs text-gray-500! font-semibold px-1!">#</th>
                        <th class="text-xs text-gray-500! font-semibold w-20 px-1!">Cant. *</th>
                        <th class="text-xs text-gray-500! font-semibold align-middle! px-1!">
                            <span class="inline-flex items-center gap-2"><span class="text-nowrap!">Unidad *</span> <ng-icon name="heroQuestionMarkCircleSolid" class="text-[14px]! min-w-3.25!" pTooltip="Elije alguna de las opciones de tipo de unidad del desplegable o escribe el código en caso de conocerlo." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/></span>
                        </th>
                        <th class="text-xs text-gray-500! font-semibold px-1!">Código</th>
                        <th class="text-xs text-gray-500! font-semibold min-w-70 px-1!">Descripción *</th>
                        <th class="text-xs text-gray-500! font-semibold px-1!">
                            <span class="inline-flex items-center gap-2">Cod. SUNAT <ng-icon name="heroQuestionMarkCircleSolid" class="text-[14px]! min-w-3.25!" pTooltip="Si conoces el código de producto SUNAT puedes ingresarlo en este campo, el dato no es mandatorio." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/></span>
                        </th>
                        <th class="text-xs text-gray-500! font-semibold px-1!">
                            <span class="inline-flex items-center gap-2">GTIN <ng-icon name="heroQuestionMarkCircleSolid" class="text-[14px]! min-w-3.25!" pTooltip="Este campo puede ser usado para ingresar el código de barras de tu producto, el dato no es mandatorio." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/></span>
                        </th>
                        <th class="text-xs text-gray-500! font-semibold px-1!">
                            <span class="inline-flex items-center gap-2">Cod. Subnacional <ng-icon name="heroQuestionMarkCircleSolid" class="text-[14px]! min-w-3.25!" pTooltip="Aquí podrás ingresar el código de la clasificación arancelaria de mercancías asignada a tu producto, el dato no es mandatorio." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/></span>
                        </th>
                        <th class="text-xs text-gray-500! font-semibold px-1!">
                            <span class="inline-flex items-center gap-2 text-center">Bien normalizado <ng-icon name="heroQuestionMarkCircleSolid" class="text-[14px]! min-w-3.25!" pTooltip="Se consideran bienes normalizados a los bienes detallados en el catálogo N° 62 del anexo N°8 (Anexo III RS 123-2022-SUNAT), cuando se encuentran sujetos al SPOT o IVAP." tooltipStyleClass="text-xs! text-center" tooltipPosition="top"/></span>
                        </th>
                        <th class="text-xs text-gray-500! font-semibold px-1!">Acciones</th>
                    </tr>
                </ng-template>

                <!-- 👇 Cuerpo -->
                <ng-template pTemplate="body" let-row let-i="rowIndex">
                    <tr [formGroupName]="i">
                        <td class="text-xs! font-semibold text-gray-500!">{{ i + 1 }}</td>
                        <td class="px-1!">
                            <p-inputnumber size="small" inputStyleClass="text-xs! shadow-none! border-white! focus:border-gray-500! hover:border-gray-400!" class="text-xs!" fluid formControlName="cantidad" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" />
                        </td>
                        <td class="px-1! w-25!">
                            <p-select 
                            fluid
                            size="small" 
                            inputId="text-xs" 
                            [inputSize]="2" 
                            panelStyleClass="text-xs!" 
                            class="text-xs! shadow-none! border-white! focus:border-gray-500! hover:border-gray-400!" 
                            [options]="unitOfMeasures" 
                            formControlName="unidad" 
                            placeholder="" 
                            [editable]="true" 
                            optionValue="short" 
                            optionLabel="short" 
                            appendTo="body"
                            >
                                <ng-template let-unit #item>
                                    <div class="flex items-center">
                                        {{unit.short}} - {{unit.description}}
                                    </div>
                                </ng-template>
                            </p-select>
                        </td>
                        <td class="px-1! w-25!">
                            <input class="text-xs! shadow-none! border-white! focus:border-gray-500! hover:border-gray-400!" pSize="small" fluid formControlName="codigo" pInputText />
                        </td>
                        <td class="px-1!">
                            <input class="text-xs! shadow-none! border-white! focus:border-gray-500! hover:border-gray-400!" pSize="small" fluid formControlName="descripcion" pInputText />
                        </td>
                        <td class="px-1!">
                            <input class="text-xs! shadow-none! border-white! focus:border-gray-500! hover:border-gray-400!" pSize="small" fluid formControlName="codigo_sunat" pInputText />
                        </td>
                        <td class="px-1!">
                            <input class="text-xs! shadow-none! border-white! focus:border-gray-500! hover:border-gray-400!" pSize="small" fluid formControlName="gtin" pInputText />
                        </td>
                        <td class="px-1!">
                            <input class="text-xs! shadow-none! border-white! focus:border-gray-500! hover:border-gray-400!" pSize="small" fluid formControlName="codigo_subnacional" pInputText />
                        </td>
                        <td class="text-center px-1!">
                            <div class="text-center flex items-center">
                                <p-toggleswitch formControlName="bien_normalizado" class="mx-auto"></p-toggleswitch>
                            </div>
                        </td>
                        <td class="px-1!">
                            <div class="flex flex-row gap-1 justify-between">
                                @if(i == items.length -1){<p-button pTooltip="Agregar producto" tooltipPosition="left" tooltipStyleClass="text-[10px]!" class="text-xs! w-6! h-6!" size="small" icon="pi pi-plus text-xs! font-semibold!" styleClass="w-6! h-6!" (click)="evtAddItem()" rounded="true" />}@else{<div></div>}
                                @if(items.length > 1){<p-button pTooltip="Quitar producto" tooltipStyleClass="text-[10px]! " tooltipPosition="left" class="text-xs! w-6! h-6!" size="small" icon="pi pi-trash text-xs! font-semibold!" styleClass="w-6! h-6!" (click)="evtRemoveItems(i)" rounded="true" severity="secondary"/>}
                            </div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>

        <div>
            <p-button (click)="evtShowList()" size="small" styleClass="text-xs!" class="text-xs!" icon="pi pi-plus text-xs!" severity="primary" label="Agregar lista de items"></p-button>
        </div>

        <p-divider />

        <div>
            <div class="flex flex-col">
                <label class="text-xs text-gray-500 font-semibold">Más información</label>
                <textarea pSize="small" class="text-xs" flluid rows="4" pTextarea></textarea>
            </div>
        </div>
    </form>

</div>

<p-menu #menuUnidadMedida [model]="itemss" [popup]="true" appendTo="body"></p-menu>