<div class="flex flex-col gap-y-3">
    @if(submitted() && invalid){
        <p class="w-full inline-flex items-center text-sm! font-medium! text-amber-600! py-1 px-3 rounded-lg! bg-amber-100! border-s-3! border-amber-500!"><i class="fa-regular fa-triangle-exclamation text-lg! me-3"></i> Debe registrar correctamente los productos. </p>
    }

    <form [formGroup]="form" (ngSubmit)="evtOnSubmit()" class="flex flex-col gap-4">
        <div formArrayName="items">
            <p-table 
                [value]="items.controls" 
                [scrollable]="true" 
                scrollHeight="400px" 
                
            >
                <ng-template #header>
                    <tr>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! px-1!">#</th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! w-25 px-1!">Cant. *</th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! align-middle! px-1!">
                            <span class="inline-flex items-center gap-2"><span class="text-nowrap! roboto-condensed">Unidad *</span> 
                            <i pTooltip="Elije alguna de las opciones de tipo de unidad del desplegable o escribe el código en caso de conocerlo." tooltipStyleClass="text-xs! text-center" tooltipPosition="top" class="fa-solid fa-circle-question"></i>
                            </span>
                        </th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! px-1!">Código</th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! min-w-70 px-1!">Descripción *</th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! px-1! w-27.5">
                            <span class="inline-flex items-center gap-2">
                                <span class="roboto-condensed">Cod. SUNAT </span>
                                <i pTooltip="Si conoces el código de producto SUNAT puedes ingresarlo en este campo, el dato no es obligatorio." tooltipStyleClass="text-xs! text-center" tooltipPosition="top" class="fa-solid fa-circle-question"></i>
                            </span>
                        </th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! px-1! w-27.5">
                            <span class="inline-flex items-center gap-2">
                                <span class="roboto-condensed">GTIN </span>
                                <i pTooltip="Este campo puede ser usado para ingresar el código de barras de tu producto, el dato no es obligatorio." tooltipStyleClass="text-xs! text-center" tooltipPosition="top" class="fa-solid fa-circle-question"></i>
                            </span>
                        </th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! px-1! w-27.5">
                            <span class="flex items-center gap-2">
                                <span class="roboto-condensed">Cod. Subnacional </span>
                                <i pTooltip="Aquí podrás ingresar el código de la clasificación arancelaria de mercancías asignada a tu producto, el dato no es obligatorio." tooltipStyleClass="text-xs! text-center" tooltipPosition="top" class="fa-solid fa-circle-question"></i>
                            </span>
                        </th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! px-1! w-27.5">
                            <span class="inline-flex items-center gap-2 text-center">
                                <span class="roboto-condensed">Bien normalizado</span>
                                <i pTooltip="Se consideran bienes normalizados a los bienes detallados en el catálogo N° 62 del anexo N°8 (Anexo III RS 123-2022-SUNAT), cuando se encuentran sujetos al SPOT o IVAP." tooltipStyleClass="text-xs! text-center" tooltipPosition="top" class="fa-solid fa-circle-question"></i>
                            </span>
                        </th>
                        <th class="text-[13px]! font-medium roboto-condensed text-slate-500! px-1!"></th>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="body" let-row let-i="rowIndex">
                    <tr [formGroupName]="i">
                        <td class="text-xs! font-semibold text-slate-500!">{{ i + 1 }}</td>
                        <td class="px-1!"
                            (mouseenter)="hoveredCell.set({ row: i, col: 'cantidad' })"
                            (mouseleave)="hoveredCell.set(null)"
                        >
                            @if(
                                (hoveredCell()?.row === i && hoveredCell()?.col === 'cantidad') || 
                                (focusedCell()?.row === i && focusedCell()?.col === 'cantidad')
                            ){
                                <p-inputnumber
                                    size="small"
                                    [inputStyleClass]="isInvalid(i, 'cantidad') && submitted() ? 'min-h-9 shadow-none! border-primary-400! focus:border-primary-400!' : 'min-h-9 shadow-none!  focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!' "
                                    class="text-xs!"
                                    fluid
                                    formControlName="cantidad"
                                    mode="decimal"
                                    inputId="withoutgrouping"
                                    [useGrouping]="false"
                                    [min]="1"
                                    [showButtons]="true" 
                                    (onFocus)="focusedCell.set({ row: i, col: 'cantidad' })"
                                />
                            }@else {
                                <span class="px-2 items-center flex text-sm rounded-lg w-full border border-slate-300 min-h-9">{{ row.get('cantidad').value }}</span>
                            }
                            
                        </td>
                        <td 
                            class="px-1! w-30!" 
                            (mouseenter)="hoveredCell.set({ row: i, col: 'unidad_medida_id' })"
                        >
                            @if(
                                (hoveredCell()?.row === i && hoveredCell()?.col === 'unidad_medida_id') || 
                                (focusedCell()?.row === i && focusedCell()?.col === 'unidad_medida_id')
                            ){
                                <p-select
                                    #selecTd
                                    fluid
                                    size="small"
                                    panelStyleClass="text-[.875rem]!"
                                    [inputSize]="2"
                                    [ngClass]="isInvalid(i, 'unidad_medida_id') ? 'min-h-9 shadow-none! border-primary-400! focus:border-primary-400!' : 'min-h-9 shadow-none!  focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!' "
                                    [options]="unidadesMedida()"
                                    formControlName="unidad_medida_id"
                                    placeholder=""
                                    [editable]="true"
                                    optionValue="id"
                                    optionLabel="descripcion_corta"
                                    filterBy="codigo_um,descripcion"
                                    checkmark="true"
                                    filter="true"
                                    appendTo="body"
                                    (onHide)="hoveredCell.set(null)"
                                    (onChange)="hoveredCell.set(null)"
                                    (onFocus)="focusedCell.set({ row: i, col: 'unidad_medida_id' })"
                                >
                                    <ng-template let-unit #item>
                                        <div class="flex items-center">
                                            {{unit.descripcion_corta}} - {{unit.descripcion}}
                                        </div>
                                    </ng-template>
                                </p-select>
                            }@else {
                                <span class="px-2 items-center flex text-sm rounded-lg w-full border border-slate-300 min-h-9">{{ getUnitMeasurementName(row.get('unidad_medida_id').value) }}</span>
                            }
                        </td>
                        <td 
                            class="px-1! w-30!"
                            (mouseenter)="hoveredCell.set({ row: i, col: 'codigo' })"
                        >
                            @if(
                                (hoveredCell()?.row === i && hoveredCell()?.col === 'codigo') || 
                                (focusedCell()?.row === i && focusedCell()?.col === 'codigo')
                            ){
                                <input 
                                    class="min-h-9 shadow-none! focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!" 
                                    pSize="small" 
                                    fluid 
                                    formControlName="codigo" 
                                    pInputText 
                                    (focus)="focusedCell.set({ row: i, col: 'codigo' })"
                                />
                            }@else {
                                <span class="px-2 items-center flex text-sm rounded-lg w-full border border-slate-300 min-h-9">{{ row.get('codigo').value }}</span>
                            }
                        </td>
                        <td 
                            class="px-1!"
                            (mouseenter)="hoveredCell.set({ row: i, col: 'descripcion' })"
                            (mouseleave)="hoveredCell.set(null)"
                        >
                            @if(
                                (hoveredCell()?.row === i && hoveredCell()?.col === 'descripcion') || 
                                (focusedCell()?.row === i && focusedCell()?.col === 'descripcion') 
                            ){
                                <textarea 
                                    #descripcionInput
                                    onlyUpper
                                    rows="1" 
                                    fluid 
                                    pTextarea 
                                    autoResize="true"
                                    [ngClass]=" isInvalid(i, 'descripcion' ) ? 'block min-h-9 shadow-none! border-primary-400! focus:border-primary-400!' : 'block min-h-9 shadow-none!  focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!' "
                                    pSize="small" 
                                    formControlName="descripcion"
                                    (keydown.enter)="$event.preventDefault(); evtAddItem(true)"
                                    (focus)="focusedCell.set({ row: i, col: 'descripcion' })"
                                ></textarea>
                            }@else {
                                <span class="px-2 items-center flex text-sm rounded-lg w-full border border-slate-300 min-h-9">{{ row.get('descripcion').value }}</span>
                            } 
                        </td>
                        <td 
                            class="px-1! w-35!"
                            (mouseenter)="hoveredCell.set({ row: i, col: 'codigo_sunat' })"
                            (mouseleave)="hoveredCell.set(null)"
                        >
                            @if(
                                (hoveredCell()?.row === i && hoveredCell()?.col === 'codigo_sunat') || 
                                (focusedCell()?.row === i && focusedCell()?.col === 'codigo_sunat')
                            ){
                                <input 
                                    [ngClass]=" isInvalid(i, 'codigo_sunat') ? 'min-h-9 shadow-none! border-primary-400! focus:border-primary-400!' : 'min-h-9 shadow-none!  focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!' "
                                    pSize="small" 
                                    fluid 
                                    formControlName="codigo_sunat" 
                                    pInputText 
                                    [readOnly]="isBienNormalizado(i)"
                                    (focus)="focusedCell.set({ row: i, col: 'codigo_sunat' })"
                                />
                            }@else {
                                <span class="px-2 items-center flex text-sm rounded-lg w-full border border-slate-300 min-h-9">{{ row.get('codigo_sunat').value }}</span>
                            }
                        </td>
                        <td 
                            class="px-1!"
                            (mouseenter)="hoveredCell.set({ row: i, col: 'gtin' })"
                            (mouseleave)="hoveredCell.set(null)"
                        >
                            @if(
                                (hoveredCell()?.row === i && hoveredCell()?.col === 'gtin') || 
                                (focusedCell()?.row === i && focusedCell()?.col === 'gtin')
                            ){
                                <input 
                                    class="min-h-9 shadow-none!  focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!" 
                                    pSize="small" 
                                    fluid 
                                    formControlName="gtin" 
                                    pInputText 
                                    (focus)="focusedCell.set({ row: i, col: 'gtin' })"
                                />
                            }@else {
                                <span class="px-2 items-center flex text-sm rounded-lg w-full border border-slate-300 min-h-9">{{ row.get('gtin').value }}</span>
                            }
                        </td>
                        <td
                            class="px-1! max-w-25"
                            (mouseenter)="hoveredCell.set({ row: i, col: 'codigo_subnacional' })"
                        >

                            @if(
                                (hoveredCell()?.row === i && hoveredCell()?.col === 'codigo_subnacional') || 
                                (focusedCell()?.row === i && focusedCell()?.col === 'codigo_subnacional')
                            ){

                                @if(!row.get('bien_normalizado')?.value){
                                    <input 
                                        class="min-h-9 shadow-none!  focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!" 
                                        pSize="small" 
                                        fluid 
                                        formControlName="codigo_subnacional" 
                                        pInputText 
                                        (focus)="focusedCell.set({ row: i, col: 'codigo_subnacional' })"
                                    />
                                }@else{

                                    <p-select
                                        [pTooltip]="getDescripcionCategoriaBienNormalizado(row.get('categoria_bien_normalizado_id').value)"
                                        tooltipPosition="top"
                                        tooltipStyleClass="text-xs! text-slate-300!"
                                        fluid
                                        size="small"
                                        panelStyleClass="text-[.875rem]! max-w-[300px]!"
                                        [inputSize]="2"
                                        [ngClass]="isInvalid(i, 'categoria_bien_normalizado_id') ? 'min-h-9 shadow-none! border-primary-400! focus:border-primary-400!' : 'min-h-9 shadow-none!  focus:border-gray-500! hover:border-slate-300! hover:shadow-xs!' "
                                        [options]="bienesNormalizados()"
                                        formControlName="categoria_bien_normalizado_id"
                                        placeholder=""
                                        [editable]="true"
                                        optionValue="id"
                                        optionLabel="descripcion"
                                        filterBy="descripcion"
                                        checkmark="true"
                                        filter="true"
                                        appendTo="body"
                                        (onHide)="hoveredCell.set(null)"
                                        (onChange)="hoveredCell.set(null)"
                                        (onFocus)="focusedCell.set({ row: i, col: 'codigo_subnacional' })"
                                    >
                                        <ng-template let-item #item>
                                            <div class="flex items-center text-wrap!">
                                                {{item.descripcion}}
                                            </div>
                                        </ng-template>
                                    </p-select>
                                }

                            }@else {
                                <span 
                                    class="px-2 items-center flex text-sm rounded-lg w-full border border-slate-300 min-h-9 truncate text-nowrap overflow-hidden"
                                >
                                    <span class="truncate text-nowrap"> 
                                        @if(!row.get('bien_normalizado')?.value){
                                            {{ row.get('codigo_subnacional').value }}
                                        }@else {
                                            {{ getDescripcionCategoriaBienNormalizado(row.get('categoria_bien_normalizado_id').value) }}
                                        }
                                    </span>
                                    
                                </span>
                            }
                        </td>
                        <td class="td text-center px-1!">
                            <div class="text-center flex items-center">
                                <p-toggleswitch formControlName="bien_normalizado" class="mx-auto"></p-toggleswitch>
                            </div>
                        </td>
                        <td class="td px-1! w-12.5">
                            <div class="flex flex-row gap-1 justify-end">
                                @if(items.length > 1){
                                    <p-button 
                                        [outlined]="true"
                                        pTooltip="Quitar producto" 
                                        tooltipPosition="left" 
                                        tooltipStyleClass="text-[10px]!" 
                                        class="text-xs!" 
                                        size="small" 
                                        icon="pi pi-trash text-xs! font-semibold!" 
                                        styleClass=" text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
                                        (click)="evtRemoveItems(i)"  
                                        rounded="true" 
                                    />
                                }
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="loadingbody" let-columns="columns">
                    <tr style="height:46px">
                        @for (col of columns; track $index) {
                            <td >
                                <p-skeleton width="100%" />
                            </td>
                        }
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <div class="text-center text-sm! font-medium text-slate-600!">
            {{ items.length }} items
        </div>

        <div class="flex justify-center text-center gap-2">
            <p-button 
                type="button"
                [outlined]="true" 
                (onClick)="evtClear()" 
                size="small" 
                styleClass="text-sm! h-9!" 
                class="text-sm!" 
                icon="fa-light fa-trash text-[14px]!" 
                severity="secondary" 
                label="Limpiar listado" 
            ></p-button>
            <p-button 
                type="button"
                [outlined]="true" 
                (onClick)="evtAddItem(false)" 
                size="small" 
                styleClass="text-sm! h-9!" 
                class="text-sm!" 
                icon="fa-light fa-plus text-[14px]!" 
                severity="primary" 
                label="Agregar item" 
            ></p-button>
            <p-button 
                type="button"
                [outlined]="true"
                (onClick)="evtImportItems()" 
                size="small" 
                styleClass="text-sm! h-9!" 
                class="text-xs!" 
                icon="fa-light fa-file-arrow-up text-[14px]!"  
                severity="warn" 
                label="Importar items" 
            ></p-button>
        </div>
    </form>

    <p-menu #menuUnidadMedida [model]="itemss" [popup]="true" appendTo="body"></p-menu>
</div>


