<form [formGroup]="frm" (ngSubmit)="evtOnSubmit()">

    <div class="grid grid-cols-3 gap-6">
        <div style="background-image: url('assets/media/bg/bg-registrar-unidad-transporte.webp'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        </div>
            
        <div class="col-span-2">

            <div class="grid gap-3">
                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Descripción</label>
                    <input 
                        pSize="small" 
                        fluid 
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" formControlName="descripcion"
                        [invalid]="frm.get('descripcion')?.invalid && (frm.get('descripcion')?.touched || submitted)"/>
                    
                    @if (frm.get('descripcion')?.invalid && (frm.get('descripcion')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">La descripción no debe exceder los 50 caracteres.</span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Marca</label>
                    <input 
                        pSize="small" 
                        fluid 
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="marca"
                        [invalid]="frm.get('marca')?.invalid && (frm.get('marca')?.touched || submitted)"/>
                    
                    @if (frm.get('marca')?.invalid && (frm.get('marca')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">La marca no debe exceder los 20 caracteres.</span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Modelo</label>
                    <input 
                        pSize="small" 
                        fluid 
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="modelo"
                        [invalid]="frm.get('modelo')?.invalid && (frm.get('modelo')?.touched || submitted)"/>
                    @if (frm.get('modelo')?.invalid && (frm.get('modelo')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">El modelo no debe exceder los 20 caracteres.</span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Placa *</label>
                    <input 
                        pSize="small" 
                        fluid 
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="placa"
                        [invalid]="frm.get('placa')?.invalid && (frm.get('placa')?.touched || submitted)"/>
                    @if (frm.get('placa')?.invalid && (frm.get('placa')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                        @if (f.placa.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.placa.hasError('maxlength')) {
                            La placa no debe exceder los 8 caracteres.
                        }
                        </span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">MTC</label>
                    <input 
                        pSize="small" 
                        fluid 
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="numero_registro_mtc"
                        [invalid]="frm.get('numero_registro_mtc')?.invalid && (frm.get('numero_registro_mtc')?.touched || submitted)"/>
                    @if (frm.get('numero_registro_mtc')?.invalid && (frm.get('numero_registro_mtc')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                        El número de registro MTC no debe exceder los 8 caracteres.
                        </span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Tarjeta *</label>
                    <input 
                        pSize="small" 
                        fluid 
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="tarjeta"
                        [invalid]="frm.get('tarjeta')?.invalid && (frm.get('tarjeta')?.touched || submitted)"/>
                    @if (frm.get('tarjeta')?.invalid && (frm.get('tarjeta')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                        @if (f.tarjeta.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.tarjeta.hasError('maxlength')) {
                            La tarjeta no debe exceder los 20 caracteres.
                        }
                        </span></p-message>
                    }
                </div>

            </div>
        </div>
    </div>
    

    <div class="flex justify-end gap-2 pt-4">
        <p-button styleClass="w-[92px]!" type="reset" icon="pi pi-times" size="small" label="Cancelar" severity="secondary" (click)="evtOnClose()"/>
        <p-button styleClass="w-[92px]!" type="submit" icon="pi pi-save" size="small" [label]="ldSubmit ? '' : 'Guardar'" [loading]="ldSubmit" severity="primary" />
    </div>

</form>





<div class="card flex justify-center">

    <p-confirmdialog #cd>
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 rounded-xl">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
                >
                    <i class="pi pi-question text-5xl!"></i>
                </div>
                <span class="font-semibold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                    <p-button label="Cancelar" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>
</div>