<form [formGroup]="frm" (ngSubmit)="evtOnSubmit()">

    <div class="flex flex-col gap-3 p-4">
        <div>

            <p-button
                fluid
                severity="secondary"
                outlined="true"
                icon="pi pi-chevron-down"
                iconPos="left"
                styleClass="w-full! px-6! py-4! border-gray-300! hover:border-gray-400!"
                (onClick)="evtShowEntityList()"
            >
                <div class="flex flex-row gap-x-4 w-full">
                    <p-avatar icon="fa-duotone fa-briefcase" class="bg-primary-100! text-primary!" size="large"></p-avatar>
                    <div class="flex flex-col justify-center text-sm text-start!">
                        @if(entitySelected() == null){
                            <p>Seleccionar empresa</p>
                        }@else{
                            <p class="font-semibold text-black!">{{ entitySelected()?.name ?? entitySelected()?.first_name + ' ' + entitySelected()?.last_name }}</p>
                            <p class="uppercase text-black!">{{ entitySelected()?.document_number }}</p>
                        }
                    </div>
                </div>
            </p-button>

        </div>

        <div>
            <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Proveedor</label>
            <p-select 
                fluid
                size="small"
                [inputSize]="2"
                panelStyleClass="text-[.875rem]!"
                class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs! leading-2"
                [options]="providers()" 
                placeholder="Seleccionar..." 
                optionValue="value" 
                optionLabel="label" 
                appendTo="body"
                formControlName="provider"
                [invalid]="frm.get('provider')?.invalid && ( frm.get('provider')?.touched || isSubmitted())"
            />
            @if (frm.get('provider')?.invalid && (frm.get('provider')?.touched || isSubmitted())) {
                <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                @if (f.provider.hasError('required')) {
                    Este campo es requerido.
                }</span>
                </p-message>
            }
        </div>

        <div class="flex flex-col">
            <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Key (Llave de seguridad)</label>

            <textarea 
                fluid 
                pTextarea 
                pSize="small" 
                class="shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                formControlName="key" 
                [invalid]="frm.get('key')?.invalid && (frm.get('key')?.touched || isSubmitted())"
            ></textarea>
            @if (frm.get('key')?.invalid && (frm.get('key')?.touched || isSubmitted())) {
                <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                @if (f.key.hasError('required')) {
                    Este campo es requerido.
                }</span>
                </p-message>
            }
        </div>
        
        <div class="flex flex-col">
            <label class="text-[13px]! text-slate-500 font-semibold roboto-condensed required">Key (Llave de seguridad para pruebas) </label>
            <textarea 
                fluid 
                pTextarea 
                pSize="small" 
                class="shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                formControlName="key_test" 
                [invalid]="frm.get('key_test')?.invalid && (frm.get('key_test')?.touched || isSubmitted())"
            ></textarea>
            @if (frm.get('key_test')?.invalid && (frm.get('key_test')?.touched || isSubmitted())) {
                <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                @if (f.key_test.hasError('required')) {
                    Este campo es requerido.
                }</span>
                </p-message>
            }
        </div>
    </div>
    
    <div class="flex justify-end gap-2 pt-4">
        <p-button 
            styleClass="w-[92px]!" 
            type="reset" 
            icon="pi pi-times" 
            size="small" 
            label="Cancelar" 
            severity="secondary" 
            (click)="evtOnClose()"
        />
        <p-button 
            styleClass="w-[92px]!" 
            type="submit" 
            icon="pi pi-save" 
            size="small" 
            [label]="ldSubmit() ? '' : 'Guardar'" 
            [loading]="ldSubmit()" 
            severity="primary" 
        />
    </div>

</form>





<div class="card flex justify-center">

    <p-confirmdialog styleClass="max-w-[400px]! rounded-3xl!" #cd appendTo="body">
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 rounded-xl">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
                >
                    <i class="pi pi-question text-5xl!"></i>
                </div>
                <span class="font-semibold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                    <p-button label="Cancelar" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>
</div>