<p-select 
    panelStyleClass="text-[.875rem]!"
    size="small" 
    [loading]="loading | async" 

    [options]="data" 
    [formControl]="control" 
    [invalid]="invalid" 
    optionLabel="nombre" 
    optionValue="codigo" 
    [class]="invalid ? 'min-h-9! shadow-none! border-primary-400! focus:border-primary-400! w-full max-w-full' : 'min-h-9! shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs w-full max-w-full'" 
    [placeholder]="(loading | async) ? placeholderLoading : placeholder" 
    [filter]="true" 
    appendTo="body"
    [inputId]="inputId"
    showClear="true"
></p-select>
