<p-table 
[value]="[]" 
size="small"
[rowHover]="true"
>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-xs text-gray-500! font-semibold px-1!">#</th>
            <th class="text-xs text-gray-500! font-semibold w-25 px-1! uppercase">Cliente</th>
            <th class="text-xs text-gray-500! font-semibold align-middle! px-1! uppercase">Tipo</th>
            <th class="text-xs text-gray-500! font-semibold px-1! uppercase">N° Comprobante</th>
            <th class="text-xs text-gray-500! font-semibold min-w-70 px-1! uppercase">F. Emisión</th>
            <th class="text-xs text-gray-500! font-semibold px-1! uppercase">Estado</th>
            <th class="text-xs text-gray-500! font-semibold px-1!"></th>
        </tr>
    </ng-template>
</p-table>