<p-toolbar class="rounded-none! sticky top-0 z-10 w-full border-none! shadow-md">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <p-button (onClick)="evtToggleSidebar()" icon="pi pi-align-left"></p-button>
            
            <!--<p-button label="Edit" text plain />
            <p-button label="View" text plain />-->
        </div>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-4">
            <div>
                <p-overlay-badge value="4" severity="danger" class="inline-flex font-normal!" styleClass="font-normal!" >
                    <p-avatar pRipple icon="pi pi-bell" size="normal" class="cursor-pointer"/>
                </p-overlay-badge> 
            </div>
            
            <p-avatar class="cursor-pointer h-7.75! w-7.75!" (click)="evtShowMenu($event)" image="https://www.personasnetwork.com/images/empleados/peru/PE09049905F.jpg" shape="circle"  style="background-color: #ece9fc; color: #2a1261"/>
        </div>
    </ng-template>
</p-toolbar>

<p-menu #menuUser [model]="items" [popup]="true" target="body" appendTo="body" >
    <ng-template #submenuheader let-item>
      <span class="font-bold text-sm">{{ item.label }}</span>
    </ng-template>

    <ng-template #item let-item>
        <a (click)="item.command" pRipple class="text-sm flex items-center p-menu-item-link cursor-pointer!">
            <i [class]="item.icon"></i>
            <span class="ml-1">{{ item.label }}</span>
            <span>{{ item.shortcut }}</span>
        </a>
    </ng-template>
</p-menu>


<p-confirmdialog styleClass="max-w-[400px]" #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8  rounded-xl">
            <div class="rounded-full bg-blue-200 text-blue-700 inline-flex justify-center items-center h-24 w-24 -mt-20"
            >
                <i class="font-bold pi pi-question text-5xl!"></i>
            </div>
            <span class="font-semibold text-xl block mb-2 mt-6 text-center">{{ message.header }}</span>
            <p class="mb-0 text-xs">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                <p-button label="Cancelar" severity="secondary" (onClick)="onReject()" styleClass="w-32"></p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>

