:host{
    padding-left: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: all 0.4s ease;
}

body.collapsed :host{
    padding-left: 85px; 
}