<div class="flex flex-col">
    <label [attr.class]="classLabel">{{ label }}</label>
    <p-select 
    panelStyleClass="text-xs!" 
    size="small" 
    [loading]="loading | async" 
    fluid 
    [inputId]="inputId"
    [options]="collection" 
    [formControl]="control" 
    [invalid]="invalid" 
    optionLabel="distrito" 
    optionValue="id" 
    [class]="invalid ? 'min-h-9! shadow-none! border-primary-400! focus:border-primary-400!' : ' min-h-9! shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!'" 
    [placeholder]="(loading | async) ? placeholderLoading : placeholder" 
    [filter]="true" 
    appendTo="body"></p-select>
</div>