<form [formGroup]="frm" (ngSubmit)="evtOnSubmit()">

    <div class="grid grid-cols-3 gap-6">
        <div style="background-image: url('assets/media/bg/bg-registrar-unidad-transporte.webp'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        </div>
        <div class="col-span-2 min-w-0">
            <div class="flex flex-col gap-3 min-w-0 max-w-full w-full">

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Código</label>
                    @if(!($ldData | async)){
                    <input 
                        pSize="small" 
                        fluid 
                        pInputText 
                        class="bg-gray-200! font-semibold! shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="codigo"
                        readonly
                        [disabled]="true"
                    />
                    }@else{
                    <p-skeleton width="100%" height="32px"></p-skeleton>
                    }
                </div>
                
                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Descripción</label>
                    <input 
                        pSize="small" 
                        fluid 
                        onlyUpper
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" formControlName="descripcion"
                        [invalid]="frm.get('descripcion')?.invalid && (frm.get('descripcion')?.touched || submitted)"/>
                    
                    @if (frm.get('descripcion')?.invalid && (frm.get('descripcion')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">La descripción no debe exceder los 50 caracteres.</span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Marca</label>
                    <input 
                        pSize="small" 
                        fluid 
                        onlyUpper
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="marca"
                        [invalid]="frm.get('marca')?.invalid && (frm.get('marca')?.touched || submitted)"/>
                    
                    @if (frm.get('marca')?.invalid && (frm.get('marca')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">La marca no debe exceder los 20 caracteres.</span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Modelo</label>
                    <input 
                        pSize="small" 
                        fluid 
                        onlyUpper
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="modelo"
                        [invalid]="frm.get('modelo')?.invalid && (frm.get('modelo')?.touched || submitted)"/>
                    @if (frm.get('modelo')?.invalid && (frm.get('modelo')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">El modelo no debe exceder los 20 caracteres.</span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Placa *</label>
                    <input 
                        pSize="small" 
                        fluid 
                        onlyUpper
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="placa"
                        [invalid]="frm.get('placa')?.invalid && (frm.get('placa')?.touched || submitted)"
                    />
                    <span class="text-xs text-gray-400">Formato sin guión</span>
                    @if (frm.get('placa')?.invalid && (frm.get('placa')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                        @if (f.placa.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.placa.hasError('maxlength')) {
                            La placa no debe exceder los 8 caracteres.
                        }
                        @if (f.placa.hasError('pattern')) {
                            No tiene el formato correcto.
                        }
                        </span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500">Tarjeta</label>
                    <input 
                        pSize="small" 
                        fluid 
                        onlyUpper
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="tarjeta"
                        [invalid]="frm.get('tarjeta')?.invalid && (frm.get('tarjeta')?.touched || submitted)"/>
                    @if (frm.get('tarjeta')?.invalid && (frm.get('tarjeta')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                        @if (f.tarjeta.hasError('maxlength')) {
                            La tarjeta no debe exceder los 20 caracteres.
                        }
                        </span></p-message>
                    }
                </div>

                <div class="flex flex-col">
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Entidad emisora de la autorización vehícular</label>
                    <app-select-emisor-vehicular
                        #ctrlEmisorVehicular
                        [control]="f.cod_emisor_vehicular"
                    ></app-select-emisor-vehicular>
                    @if (frm.get('cod_emisor_vehicular')?.invalid && (frm.get('cod_emisor_vehicular')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                        @if (f.tarjeta.hasError('maxlength')) {
                            La tarjeta no debe exceder los 2 caracteres.
                        }
                        </span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500">N° de autorización vehícular</label>
                    <input 
                        pSize="small" 
                        fluid 
                        onlyUpper
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" 
                        formControlName="nro_autorizacion"
                        [invalid]="frm.get('nro_autorizacion')?.invalid && (frm.get('nro_autorizacion')?.touched || submitted)"/>
                    @if (frm.get('nro_autorizacion')?.invalid && (frm.get('nro_autorizacion')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                        @if (f.nro_autorizacion.hasError('minlength')) {
                            El número de autorización debe tener más de 3 caracteres.
                        }
                        @if (f.nro_autorizacion.hasError('maxlength')) {
                            El número de autorización no debe exceder los 50 caracteres.
                        }
                        </span></p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Tipo</label>
                    <p-select 
                        panelStyleClass="text-[.875rem]!"
                        size="small" 
                        fluid 
                        [options]="tipos" 
                        formControlName="tipo" 
                        [invalid]="frm.get('tipo')?.invalid && (frm.get('tipo')?.touched || submitted)" 
                        optionLabel="label" 
                        optionValue="value" 
                        [class]="frm.get('tipo')?.invalid && (frm.get('tipo')?.touched || submitted) ? 'min-h-9! shadow-none! border-primary-400! focus:border-primary-400!' : 'min-h-9! shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!'" 
                        [filter]="false" 
                        appendTo="body"
                    ></p-select>
                    @if (frm.get('tipo')?.invalid && (frm.get('tipo')?.touched || submitted)) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                            Este campo es requerido
                        </span></p-message>
                    }
                </div>
                
            </div>
        </div>
    </div>
    

    <div class="flex justify-end gap-2 pt-4">
        <p-button styleClass="w-[92px]!" type="reset" icon="pi pi-times" size="small" label="Cancelar" severity="secondary" (click)="evtOnClose()"/>
        <p-button styleClass="w-[92px]!" type="submit" icon="pi pi-save" size="small" [label]="ldSubmit ? '' : 'Guardar'" [loading]="ldSubmit" severity="primary" [disabled]="$ldData | async"/>
    </div>

</form>





<div class="card flex justify-center">

    <p-confirmdialog #cd>
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 rounded-xl">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
                >
                    <i class="pi pi-question text-5xl!"></i>
                </div>
                <span class="font-semibold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                    <p-button label="Cancelar" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>
</div>