<form [formGroup]="frm" (ngSubmit)="evtOnSubmit()">

    <div class="grid grid-cols-3 gap-6">
        <div style="background-image: url('assets/media/bg/bg-registrar-conductor.webp'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        </div>
            
        <div class="col-span-2">

            <div class="grid gap-3">
                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Tipo de documento *</label>
                    <p-select 
                    fluid
                    size="small"
                    [inputSize]="2"
                    panelStyleClass="text-[.875rem]!"
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs! leading-2"
                    
                    [options]="documentTypes" 
                    placeholder="Seleccionar..." 
                    optionValue="value" 
                    optionLabel="description" 
                    appendTo="body"
                    formControlName="tipo_documento"
                    [invalid]="frm.get('tipo_documento')?.invalid && ( frm.get('tipo_documento')?.touched || submitted())"
                    />
                    @if (frm.get('tipo_documento')?.invalid && (frm.get('tipo_documento')?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                    }
                </div>
                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">N° documento *</label>
                    <input 
                        placeholder="" 
                        pSize="small" 
                        onlyNumber
                        fluid 
                        pInputText 
                        class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!" formControlName="numero_documento"
                        [invalid]="frm.get('numero_documento')?.invalid && (frm.get('numero_documento')?.touched || submitted())"
                        [minlength]="
                            f.tipo_documento.value === 'RUC' ? 11 : 
                            f.tipo_documento.value === 'DNI' ? 8 : 
                            null
                        "
                    />
                    
                    @if (frm.get('numero_documento')?.invalid && (frm.get('numero_documento')?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                            @if(f.numero_documento.errors?.['required']){
                                Este campo es requerido.
                            }@else if(f.numero_documento.errors?.['minlength']){
                                El documento debe tener mínimo 
                                @switch(f.tipo_documento.value){
                                    @case('DNI'){ 8 }
                                    @case('RUC'){ 11 }    
                                    @default { 11 }
                                }
                                caracteres.
                            }@else{
                                El documento debe tener máximo
                                @switch(f.tipo_documento.value){
                                    @case('DNI'){ 8 }
                                    @case('CARNET DE EXTRANJERIA'){ 12 }
                                    @case('PASAPORTE'){ 12 }    
                                    @default { 11 }
                                }
                                caracteres.
                            }
                        </span></p-message>
                    }
                </div>
                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Nombres *</label>
                    <input 
                    fluid 
                    onlyUpper
                    pInputText 
                    type="text" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="nombres" 
                    autofocus="true"
                    [invalid]="frm.get('nombres')?.invalid && (frm.get('nombres')?.touched || submitted())"/>
                    @if (frm.get('nombres')?.invalid && (frm.get('nombres')?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.nombres.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.nombres.hasError('maxlength')) {
                            El nombre no debe exceder los 200 caracteres.
                        }</span>
                        </p-message>
                    }
                </div>
                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Apellidos *</label>
                    <input 
                    fluid 
                    onlyUpper
                    pInputText 
                    type="text" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="apellidos" 
                    autofocus="true"
                    [invalid]="frm.get('apellidos')?.invalid && (frm.get('apellidos')?.touched || submitted())"/>
                    @if (frm.get('apellidos')?.invalid && (frm.get('apellidos')?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.apellidos.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.apellidos.hasError('maxlength')) {
                            El nombre no debe exceder los 200 caracteres.
                        }</span>
                        </p-message>
                    }
                </div>
                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Cargo</label>
                    <input 
                    fluid 
                    onlyUpper
                    pInputText 
                    type="text" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="cargo" 
                    autofocus="true"
                    [invalid]="frm.get('cargo')?.invalid && (frm.get('cargo')?.touched || submitted())"/>
                    @if (frm.get('cargo')?.invalid && (frm.get('cargo')?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.cargo.hasError('maxlength')) {
                            El nombre no debe exceder los 100 caracteres.
                        }</span>
                        </p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Licencia / Brevete *</label>
                    <input 
                    fluid 
                    onlyUpper
                    pInputText 
                    type="text" 
                    pSize="small" 
                    class="shadow-none! min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!"
                    formControlName="licencia" 
                    autofocus="true"
                    [invalid]="frm.get('licencia')?.invalid && (frm.get('licencia')?.touched || submitted())"/>
                    @if (frm.get('licencia')?.invalid && (frm.get('licencia')?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple" ><span class="text-[10px]! ">
                        @if (f.licencia.hasError('required')) {
                            Este campo es requerido.
                        }
                        @if (f.licencia.hasError('minlength')) {
                            La licencia debe tener minimo 9 caracteres.
                        }
                        @if (f.licencia.hasError('maxlength')) {
                            La licencia no debe exceder los 10 caracteres.
                        }
                        </span>
                        </p-message>
                    }
                </div>

                <div>
                    <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Tipo</label>
                    <p-select 
                        panelStyleClass="text-[.875rem]!"
                        size="small" 
                        fluid 
                        [options]="tipos" 
                        formControlName="tipo" 
                        [invalid]="frm.get('tipo')?.invalid && (frm.get('tipo')?.touched || submitted())" 
                        optionLabel="label" 
                        optionValue="value" 
                        [class]="frm.get('tipo')?.invalid && (frm.get('tipo')?.touched || submitted()) ? 'min-h-9! shadow-none! border-primary-400! focus:border-primary-400!' : 'min-h-9! shadow-none! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!'" 
                        [filter]="false" 
                        appendTo="body"
                    ></p-select>
                    
                    @if (frm.get('tipo')?.invalid && (frm.get('tipo')?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">
                            Este campo es requerido
                        </span></p-message>
                    }
                </div>
            </div>
        </div>
    </div>
    

    <div class="flex justify-end gap-2 pt-4">
        <p-button styleClass="w-[92px]!" type="reset" icon="pi pi-times" size="small" label="Cancelar" severity="secondary" (click)="evtOnClose()"/>
        <p-button styleClass="w-[92px]!" type="submit" icon="pi pi-save" size="small" [label]="ldSubmit() ? '' : 'Guardar'" [loading]="ldSubmit()" severity="primary" />
    </div>

</form>





<div class="card flex justify-center">

    <p-confirmdialog #cd>
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 rounded-xl">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
                >
                    <i class="pi pi-question text-5xl!"></i>
                </div>
                <span class="font-semibold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                    <p-button label="Cancelar" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>
</div>