<div class="p-4 text-center">
  @if( !file() ){
    <p-message fluid severity="success" class="w-full! mb-3">
        <ng-template #icon>
            <i class="fa-duotone fa-solid fa-circle-info text-[30px]!"></i>
        </ng-template>
        <div class="text-start">
          <span class="ml-2 text-sm! font-normal! block mb-2">Debe importar los datos con un formato correcto.</span>

          <p-button 
            (onClick)="evtDownloadFormat()"
            size="small" 
            severity="success" 
            icon="fa-duotone fa-light fa-arrow-down-to-line" 
            label="Descargar formato"
            styleClass="ml-2"
            [loading]="loadingDownload()"
          ></p-button>
        </div>
        
    </p-message>
  }
  
  <div 
      class="drop-zone bg-gray-100 rounded-2xl "
      [class.drop-zone-active]="isDragOver"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      [class.border-red-300!]="ctrlFile.errors"
      [class.bg-red-50!]="ctrlFile.errors"
  >
    <label class="group w-full flex flex-col justify-center items-center border-0 p-0 text-4xl cursor-pointer text-center">

      @if(loading()){
        <img src="/guia-remision/assets/media/svg/loading-file-animation.svg" width="150px" height="auto">
        <p class="text-sm text-gray-500">Analizando...</p>
      }@else{
        @if(importDetails().length){
          <img src="/guia-remision/assets/media/svg/checked-animation.svg" width="150px" height="auto">
          <div class="flex flex-col w-full">
            <div class="text-center text-sm! self-center">
              <p><span class="font-semibold"> {{ file()?.name }}</span></p>
              <!--<p><span class="font-semibold">Tamaño: </span>{{ file()?.size }}</p>-->
              <p><span class="font-semibold"></span>{{ importDetails().length }} registros</p>
            </div>
            <div class="items-center">
              <div class="flex flex-col my-auto">
                <p-button (onClick)="evtAccept()" fluid small="small" severity="primary" label="Importar"></p-button>
                <p-button (onClick)="evtClear()" fluid [outlined]="true" small="small" severity="secondary" label="Cancelar"></p-button>
              </div>
            </div>
          </div>
        }@else {
          <img src="/guia-remision/assets/media/svg/excel-upload-animation.svg" width="150px" height="auto">
          <p class="text-sm text-gray-500">Seleccione o arrastre el archivo *.xls, *.xlsx aquí.</p>
        }
      }
      <input [multiple]="false" type="file" accept=".xls,.xlsx" hidden (change)="onFileSelected($event)">
    </label>
  </div>

  @if(ctrlFile.errors){
    <p-message severity="error" size="small" variant="simple" fluid class="justify-center items-center">
      <span class="text-[10px]!">
        @if(ctrlFile.hasError('invalidExtension')){
          El tipo de archivo no esta permitido.
        }
      </span>
    </p-message>
  }
</div>