<div class="flex flex-col gap-x-4 gap-y-2 p-4 pt-8!">

        <div [formGroup]="frm" class="flex flex-col gap-y-3">

            @if(submitted() && invalid){
                <p class="inline-flex items-center text-sm! font-medium! text-amber-600! py-1 px-3 rounded-lg! bg-amber-100! border-s-3! border-amber-500!"><i class="fa-regular fa-triangle-exclamation text-lg! me-3"></i> Debe seleccionar un proveedor. </p>
            }

            <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-2 gap-x-4">
                <div class="flex flex-col">
                    <label class="text-[13px]! font-medium text-slate-500 roboto-condensed truncate required">Fecha de inicio de traslado</label>
                    <p-datepicker 
                        size="small" 
                        fluid
                        placeholder="dd/mm/aaaa"
                        class="text-xs! min-h-9!"
                        formControlName="fecha_inicio_traslado"
                        [iconDisplay]="'input'" 
                        appendTo="body"
                        panelStyleClass="text-xs-panel"
                        [showButtonBar]="true"
                        [invalid]="f.fecha_inicio_traslado?.invalid && (f.fecha_inicio_traslado?.touched || submitted())" 
                        [showIcon]="true" 
                        [minDate]="minFechaEntregaTraslado"
                    />
                    @if (
                        f.fecha_inicio_traslado?.invalid && 
                        (f.fecha_inicio_traslado?.touched || submitted())
                    ) 
                    {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                    }
                </div>

                @if(tipoTransporte === 'PUBLICO'){
                    <div class="flex flex-col">
                        <label class="text-[13px]! font-medium text-slate-500 roboto-condensed truncate required">Fecha de entrega al transportista</label>
                        <p-datepicker 
                            size="small" 
                            fluid
                            placeholder="dd/mm/aaaa"
                            class="min-h-9!" 
                            formControlName="fecha_entrega_transportista"
                            [iconDisplay]="'input'" 
                            panelStyleClass="text-xs! m-auto!"
                            readonlyInput="true"
                            [invalid]="f.fecha_entrega_transportista?.invalid && (f.fecha_entrega_transportista?.touched || submitted())"
                            appendTo="body" 
                            [showIcon]="true" 
                            [showButtonBar]="true"
                            [minDate]="minFechaEntregaTraslado"
                        />
                        @if (f.fecha_entrega_transportista?.invalid && (f.fecha_entrega_transportista?.touched || submitted())) {
                            <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                        }
                    </div>
                }

                <div class="flex flex-col">
                    <label class="text-[13px]! font-medium text-slate-500 truncate">
                        <span class="required roboto-condensed">Peso bruto total</span>  
                        <i 
                            class="fa-solid fa-circle-question text-[14px]! ms-2"
                            pTooltip="Aquí deberás ingresar el peso bruto de la carga a transportar, por ahora, el peso solo puede ser representado en kilogramos o toneladas." tooltipStyleClass="text-xs! text-center" 
                            tooltipPosition="top"
                        ></i>
                    </label>
                    <p-inputnumber 
                        fluid size="small" 
                        placeholder="0.000" 
                        formControlName="peso_bruto_total" 
                        mode="decimal" 
                        [maxFractionDigits]="3" 
                        [maxlength]="15" 
                        [class]="f.peso_bruto_total.invalid && (submitted() || f.peso_bruto_total.touched) ? 'text-xs! min-h-9! shadow-none! border-primary-400! focus:border-primary-400!' : 'text-xs! min-h-9! shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                        [invalid]="f.peso_bruto_total.invalid && (submitted() || f.peso_bruto_total.touched)"
                    />
                    @if (f.peso_bruto_total?.invalid && (f.peso_bruto_total?.touched || submitted())) {
                        <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Este campo es requerido.</span></p-message>
                    }
                </div>

                <div class="flex flex-col ">
                    <label class="text-[13px]! font-medium text-slate-500 roboto-condensed truncate required">Peso - unidad de medida</label>
                    <app-select-unidad-medida
                        #selectUnidadesMedida
                        [control]="f.unidad_medida_id"
                        [optionLabel]="'descripcion'"
                        [invalid]="f.unidad_medida_id.invalid && ( f.unidad_medida_id.touched || submitted())"
                        [tipo]="'peso'"
                        [default]="2"
                    ></app-select-unidad-medida>
                </div>

                <div class="flex flex-col">
                    <label class="text-[13px]! font-medium text-slate-500 roboto-condensed">Número de bultos (condicional)</label>
                    <input 
                        placeholder="" 
                        pSize="small" 
                        fluid 
                        pInputText 
                        formControlName="numero_bultos" 
                        [class]="f.numero_bultos.invalid && submitted() ? ' shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'shadow-none!  min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                        [invalid]="f.numero_bultos.invalid && submitted()" 
                    />
                </div>

                <div class="flex flex-col">
                    <label class="text-[13px]! font-medium text-slate-500 roboto-condensed">Número de contenedor</label>
                    <input 
                        placeholder="" 
                        pSize="small" 
                        fluid 
                        pInputText 
                        formControlName="numero_bultos" 
                        [class]="f.numero_bultos.invalid && submitted() ? ' shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'shadow-none!  min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                        [invalid]="f.numero_bultos.invalid && submitted()" 
                    />
                </div>

                <div class="flex flex-col">
                    <label class="text-[13px]! font-medium text-slate-500 roboto-condensed">Número de precinto</label>
                    <input 
                        placeholder="" 
                        pSize="small" 
                        fluid 
                        pInputText 
                        formControlName="numero_bultos" 
                        [class]="f.numero_bultos.invalid && submitted() ? ' shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'shadow-none!  min-h-9! focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                        [invalid]="f.numero_bultos.invalid && submitted()" 
                    />
                </div>

                <div class="flex flex-col ">
                    <label class="text-[13px]! font-medium text-slate-500 roboto-condensed truncate">Indicador de envío SUNAT</label>
                    <app-select-guia-remision-indicador-traslado
                        #selectUnidadesMedida
                        [control]="f.indic_envio_sunat"
                        [invalid]="f.indic_envio_sunat.invalid && ( f.indic_envio_sunat.touched || submitted())"
                    ></app-select-guia-remision-indicador-traslado>
                </div>

                @if(motivoTraslado?.codigo_sunat === '13'){
                    <div class="flex flex-col col-span-4">
                        <label class="text-[13px]! font-medium text-slate-500 roboto-condensed required">Descripción del traslado</label>
                        <textarea 
                            onlyUpper
                            rows="1" 
                            fluid 
                            pTextarea 
                            autoResize="true"
                            [invalid]="f.descripcion_traslado.invalid && ( f.descripcion_traslado.touched || submitted())" 
                            pSize="small" 
                            formControlName="descripcion_traslado"
                            class="min-h-9"
                            (keydown.enter)="$event.preventDefault();"
                        ></textarea>
                    </div>
                }

            </div>
            
        </div>

</div>





<p-confirmdialog styleClass="max-w-[400px]! rounded-3xl!" #cd appendTo="body">
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8  rounded-xl">
            <div class="rounded-full bg-blue-200 text-blue-700 inline-flex justify-center items-center h-24 w-24 -mt-20"
            >
                <i class="font-bold pi pi-question text-5xl!"></i>
            </div>
            <span class="font-semibold text-xl block mb-2 mt-6 text-center">{{ message.header }}</span>
            <p class="mb-0 text-xs">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                <p-button label="Cancelar" severity="secondary" (onClick)="onReject()" styleClass="w-32"></p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>