<div class="rounded-2xl! overflow-hidden! border border-gray-200!">
    <p-accordion value="0">
            <p-accordion-panel value="0"> 
                <p-accordion-header>Punto de partida @if(submitted() && !remitente) {
                    <ng-icon name="tablerAlertCircle" />
                }</p-accordion-header>
                <p-accordion-content>
                    <div class="flex flex-col gap-x-4 gap-y-2 p-4 pt-8!">
                        <div class="flex flex-col">
                            <div class="grid grid-cols-3 gap-x-5"> 
                                <div class="col-span-3">
                                    <label class="text-[11px]! text-gray-500 font-semibold">Dirección *</label>
                                    <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                        <app-typing [text]="remitente?.address ?? '--'"></app-typing>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-5">

                            <div>
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Departamento *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="remitente?.departamento ?? '--'"></app-typing>
                                </div>
                            </div>

                            <div>
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Provincia *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="remitente?.provincia ?? '--'"></app-typing>
                                </div>
                            </div>
                            <div>
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Distrito *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="remitente?.distrito ?? '--'"></app-typing>
                                </div>
                            </div>
                        </div>
                        <div class="text-xs! text-gray-500 font-medium mt-2"><i class="fa-regular fa-circle-exclamation"></i> Los datos son obtenidos previamente del remitente seleccionado</div>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="1">
                <p-accordion-header>Punto de llegada @if(submitted() && !destinatario) {
                    <ng-icon name="tablerAlertCircle" />
                }</p-accordion-header>
                <p-accordion-content>
                    <div class="flex flex-col gap-x-4 gap-y-2 p-4 pt-8!">
                        <div class="grid grid-cols-4 gap-x-2 gap-y-2">
                            <div class="col-span-4 ">
                                <label class="text-[11px]! text-gray-500 font-semibold">Dirección *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="destinatario?.address ?? '--'"></app-typing>
                                </div>
                            </div>
                        </div>
                        
                        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2">
                            <div>
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Departamento *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="destinatario?.departamento ?? '--'"></app-typing>
                                </div>
                            </div>
                            <div>
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Provincia *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="destinatario?.provincia ?? '--'"></app-typing>
                                </div>
                            </div>
                            <div>
                                <label class="text-[11px]! h-4.5! text-gray-500 font-semibold">Distrito *</label>
                                <div class="border-b border-b-gray-200 text-[.875rem] py-1 ps-3">
                                    <app-typing [text]="destinatario?.distrito ?? '--'"></app-typing>
                                </div>
                            </div>
                        </div>

                        <div class="text-xs! text-gray-500 font-medium mt-2"><i class="fa-regular fa-circle-exclamation"></i> Los datos son obtenidos previamente del destinatario seleccionado</div>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="2">
                <p-accordion-header>Bienes o productos @if(submitted() && !destinatario) {
                    <ng-icon name="tablerAlertCircle" />
                }</p-accordion-header>
                <p-accordion-content>
                </p-accordion-content>
            </p-accordion-panel>
    </p-accordion>
</div>
