<div class="p-card rounded-xl overflow-hidden"> 
    <p-tabs value="0" lazy="true">
        <p-tablist>
            <p-tab value="0" class="py-3! data-[p-active=false]:bg-gray-100! data-[p-active=true]:bg-primary! data-[p-active=true]:font-semibold! data-[p-active=true]:text-white!">
                <div class="flex items-center gap-2">
                    <label for="" class="text-[12px] pointer-events-none">Punto de partida</label>
                    @if(submitted && formGroupOrigen.invalid) {
                        <ng-icon name="tablerAlertCircle" />
                    }
                </div>
            </p-tab>
            <p-tab value="1" class="py-3! data-[p-active=false]:bg-gray-100! data-[p-active=true]:bg-primary! data-[p-active=true]:font-semibold! data-[p-active=true]:text-white!">
                <div class="flex items-center gap-2">
                    <label for="" class="text-[12px] pointer-events-none">Punto de llegada</label>
                    @if(submitted && formGroupDestino.invalid) {
                        <ng-icon name="tablerAlertCircle" />
                    }
                </div>
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div [formGroup]="formGroupOrigen" class="flex flex-col gap-x-4 gap-y-2">
                    <div class="flex flex-col">
                        <div class="grid grid-cols-3 xl:grid-cols-4 gap-2"> 
                            <div class="col-span-3">
                                <label class="text-[11px]! text-gray-500 font-semibold">Dirección *</label>
                                <input 
                                placeholder="Dirección *" 
                                pSize="small" 
                                fluid 
                                pInputText 
                                formControlName="direccion" 
                                [class]="f_origen.direccion.invalid && submitted ? 'min-h-9 shadow-none! border-primary-400! focus:border-primary-400!' : 'min-h-9 shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                                [invalid]="f_origen.direccion?.invalid && (f_origen.direccion?.touched || submitted)" />
                                @if (f_origen.direccion?.invalid && (f_origen.direccion?.touched || submitted)) {
                                    <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Dirección es requerido.</span></p-message>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-2">
                        <div class="flex flex-col">
                            <app-select-departamento 
                            [control]="f_origen.idDepartamento" 
                            classLabel="text-[11px]! text-gray-500 font-semibold" 
                            [invalid]="f_origen.idDepartamento.invalid && (f_origen.idDepartamento.touched || submitted)"
                            label="Departamento *"
                            ></app-select-departamento>
                            @if (f_origen.idDepartamento.invalid && (f_origen.idDepartamento.touched || submitted)) {
                                <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Departamento es requerido.</span></p-message>
                            }
                        </div>
                        <div>
                            <app-select-provincia 
                            [control]="f_origen.idProvincia" 
                            [idUbigeoDepartamento]="f_origen.idDepartamento.value" 
                            [invalid]="f_origen.idProvincia.invalid && (f_origen.idProvincia.touched || submitted)" classLabel="text-[11px]! text-gray-500 font-semibold"
                            label="Provincia *"
                            ></app-select-provincia>
                            @if (f_origen.idProvincia.invalid && (f_origen.idProvincia.touched || submitted)) {
                                <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Provincia es requerido.</span></p-message>
                            }
                        </div>
                        <div>
                            <app-select-distrito 
                            label="Distrito *"
                            [control]="f_origen.idDistrito" 
                            [idUbigeoProvincia]="f_origen.idProvincia.value" 
                            [invalid]="f_origen.idDistrito.invalid && (f_origen.idDistrito.touched || submitted)" classLabel="text-[11px]! text-gray-500 font-semibold" 
                            
                            ></app-select-distrito>
                            @if (f_origen.idDistrito.invalid && (f_origen.idDistrito.touched || submitted)) {
                                <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Distrito es requerido.</span></p-message>
                            }
                        </div>
                    </div>
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div [formGroup]="formGroupDestino" class="flex flex-col gap-2">
                    <div class="grid grid-cols-4 gap-x-2 gap-y-2">
                        <div class="col-span-4 lg:col-span-3!">
                            <label class="text-[11px]! text-gray-500 font-semibold">Dirección *</label>
                            <input 
                            placeholder="Dirección *" 
                            formControlName="direccion" 
                            pSize="small" 
                            fluid 
                            pInputText 
                            [class]="f_destino.direccion.invalid && submitted ? 'shadow-none! min-h-9! border-primary-400! focus:border-primary-400!' : 'min-h-9! shadow-none!  focus:border-gray-500! hover:border-gray-400! hover:shadow-xs!' " 
                            [invalid]="f_destino.direccion.invalid && (f_destino.direccion.touched || submitted)" />
                            @if (f_destino.direccion.invalid && (f_destino.direccion.touched || submitted)) {
                                <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Dirección es requerido.</span></p-message>
                            }
                        </div>
                    </div>
                    
                    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-2">
                        <div>
                            <app-select-departamento 
                            [control]="f_destino.idDepartamento" 
                            classLabel="text-[11px]! text-gray-500 font-semibold" 
                            [invalid]="f_destino.idDepartamento.invalid && (f_destino.idDepartamento.touched || submitted)"
                            label="Departamento *"
                            ></app-select-departamento>
                            @if (f_destino.idDepartamento.invalid && (f_destino.idDepartamento.touched || submitted)) {
                                <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Departamento es requerido.</span></p-message>
                            }
                        </div>
                        <div>
                            <app-select-provincia 
                            [control]="f_destino.idProvincia" 
                            [idUbigeoDepartamento]="f_destino.idDepartamento.value" 
                            [invalid]="f_destino.idProvincia.invalid && (f_destino.idProvincia.touched || submitted)" classLabel="text-[11px]! text-gray-500 font-semibold"
                            label="Provincia *"
                            ></app-select-provincia>
                            @if (f_destino.idProvincia.invalid && (f_destino.idProvincia.touched || submitted)) {
                                <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Provincia es requerido.</span></p-message>
                            }
                        </div>
                        <div>
                            <app-select-distrito 
                            [control]="f_destino.idDistrito" 
                            [idUbigeoProvincia]="f_destino.idProvincia.value" 
                            [invalid]="f_destino.idDistrito.invalid && (f_destino.idDistrito.touched || submitted)" classLabel="text-[11px]! text-gray-500 font-semibold"
                            label="Distrito *"
                            ></app-select-distrito>
                            @if (f_destino.idDistrito.invalid && (f_destino.idDistrito.touched || submitted)) {
                                <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">Distrito es requerido.</span></p-message>
                            }
                        </div>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
