<div class="flex flex-col gap-x-4 gap-y-2 p-4 pt-8!">

    @if(tipoTransporte === 'PUBLICO'){
        <p-fieldset styleClass="text-md! rounded-2xl!" [toggleable]="false" [collapsed]="false" legend=" Datos del Transportista">

            <div class="flex flex-col gap-y-3">

                @if(transportista){
                    <div class="flex flex-row items-center px-4! py-4! rounded-xl! bg-slate-100/60" >

                        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-2 gap-x-3">
                                <div>
                                    <label class="text-[11px]! h-4.5! text-slate-500 font-medium">R.U.C.</label>
                                    <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                                        <app-typing [text]="transportista.numero_documento" class="font-semibold! text-slate-600!"></app-typing>
                                    </div>
                                </div>
                                <div class="xl:col-span-2">
                                    <label class="text-[11px]! h-4.5! text-slate-500 font-medium">Razón social o denominación </label>
                                    <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                                        <app-typing [text]="transportista.razon_social" class="font-semibold! text-slate-600!"></app-typing>
                                    </div>
                                </div> 
                                <div>
                                    <label class="text-[11px]! h-4.5! text-slate-500 font-medium">N° de registro MTC <i pTooltip="Aquí deberás ingresar el código de registro del Ministerio de Transportes y Comunicaciones que tenga actualmente el vehículo." tooltipStyleClass="text-xs! text-center" tooltipPosition="top" class="fa-solid fa-circle-question"></i></label>
                                    <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                                        <app-typing [text]="transportista.registro_mtc" class="font-semibold! text-slate-600!"></app-typing>
                                    </div>
                                </div> 
                        </div>

                        <div class="w-12.5 text-end flex flex-col items-center gap-y-2">
                            <p-button 
                                [outlined]="true"
                                pTooltip="Quitar vehículo" 
                                tooltipPosition="left" 
                                tooltipStyleClass="text-[10px]!" 
                                class="text-xs! ml-auto" 
                                size="small" 
                                icon="pi pi-times text-xs! font-semibold!" 
                                styleClass=" text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
                                (click)="evtRemoveVehiculo(vehiculoPrincipal()?.id!)"  
                                rounded="true" 
                            />
                        </div>

                    </div> 
                }@else {
                    <div class="flex flex-row items-center px-4!">
                        <p-button 
                            pTooltip="Seleccionar empresa transportista" 
                            tooltipPosition="top" 
                            tooltipStyleClass="text-xs! text-center" 
                            [outlined]="true" 
                            (onClick)="evtOnShowListaTransportista()" 
                            size="small" 
                            styleClass="text-sm! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100! h-9!" 
                            icon="fa-regular fa-truck-fast text-xl!" 
                            severity="primary" 
                            label="Seleccionar transportista" 
                        ></p-button>
                    </div>
                }

            </div>

        </p-fieldset>
    }

    @else{

        <p-fieldset styleClass="text-md! rounded-2xl!" [toggleable]="false" [collapsed]="false" legend=" Datos del Vehiculo Principal">

            <div class="flex flex-col gap-y-3">

                @if(vehiculoPrincipal()){
                    <div class="flex flex-row items-center px-4! py-4! rounded-xl! bg-slate-100/60" >

                        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-2 gap-x-3">
                                <div>
                                    <label class="text-[11px]! h-4.5! text-slate-500 font-medium">Placa</label>
                                    <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                                        <app-typing [text]="vehiculoPrincipal()?.placa" class="font-semibold! text-slate-600!"></app-typing>
                                    </div>
                                </div>
                                <div>
                                    <label class="text-[11px]! h-4.5! text-slate-500 font-medium">N° de autorización vehícular (condicional)</label>
                                    <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                                        <app-typing [text]="vehiculoPrincipal()?.nro_autorizacion" class="font-semibold! text-slate-600!"></app-typing>
                                    </div>
                                </div> 
                        </div>

                        <div class="w-12.5 text-end flex flex-col items-center gap-y-2">
                            <p-button 
                                [outlined]="true"
                                pTooltip="Quitar vehículo" 
                                tooltipPosition="left" 
                                tooltipStyleClass="text-[10px]!" 
                                class="text-xs! ml-auto" 
                                size="small" 
                                icon="pi pi-times text-xs! font-semibold!" 
                                styleClass=" text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
                                (click)="evtRemoveVehiculo(vehiculoPrincipal()?.id!)"  
                                rounded="true" 
                            />
                        </div>

                    </div> 
                }@else {
                    <div class="flex flex-row items-center px-4!">
                        <p-button 
                            pTooltip="Seleccionar vehículo principal" 
                            tooltipPosition="top" 
                            tooltipStyleClass="text-xs! text-center" 
                            [outlined]="true" 
                            (onClick)="evtOnShowListaVehiculo('Principal')" 
                            size="small" 
                            styleClass="text-sm! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100! h-9!" 
                            icon="fa-regular fa-car text-xl!" 
                            severity="primary" 
                            label="Seleccionar vehículo" 
                        ></p-button>
                    </div>
                }

            </div>

        </p-fieldset>

        <p-fieldset styleClass="text-md! rounded-2xl!" [toggleable]="false" [collapsed]="false" legend="Datos del Vehículo Secundario (Máximo 2 Vehículos)">

            <div class="flex flex-col gap-y-3">

                @if(vehiculoSecundario().length > 0){

                    @for(vehiculo of vehiculoSecundario(); track $index){
                        <div class="flex flex-row items-center px-4! py-4! rounded-xl! bg-slate-100/60" >

                            <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-2 gap-x-3">
                                <div>
                                    <label class="text-[11px]! h-4.5! text-slate-500 font-medium">Placa</label>
                                    <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                                        <app-typing [text]="vehiculo.placa" class="font-semibold! text-slate-600!"></app-typing>
                                    </div>
                                </div>
                                <div>
                                    <label class="text-[11px]! h-4.5! text-slate-500 font-medium">N° de autorización vehícular (condicional)</label>
                                    <div class="bg-slate-200 rounded-lg! text-[.875rem] py-2 ps-3">
                                        <app-typing [text]="vehiculo.nro_autorizacion" class="font-semibold! text-slate-600!"></app-typing>
                                    </div>
                                </div>
                            </div>

                            <div class="w-12.5 text-end flex flex-col items-center gap-y-2">
                                <p-button 
                                    [outlined]="true"
                                    pTooltip="Quitar vehículo" 
                                    tooltipPosition="left" 
                                    tooltipStyleClass="text-[10px]!" 
                                    class="text-xs! ml-auto" 
                                    size="small" 
                                    icon="pi pi-times text-xs! font-semibold!" 
                                    styleClass=" text-xs! bg-primary-100! hover:border-primary-100! hover:bg-primary-500! hover:text-primary-100!" 
                                    (click)="evtRemoveVehiculo(vehiculo.id!)"  
                                    rounded="true" 
                                />
                            </div>

                        </div> 
                    }

                }
                
                @if( vehiculoSecundario().length < 2 ){

                    <div class="flex flex-row items-center px-4!">
                        <p-button 
                            pTooltip="Seleccionar vehículo secundario"
                            tooltipPosition="top"
                            tooltipStyleClass="text-xs! text-center"
                            [outlined]="true"
                            (onClick)="evtOnShowListaVehiculo('Secundario')" 
                            size="small" 
                            styleClass="text-sm! bg-gray-100! hover:border-gray-100! hover:bg-gray-500! hover:text-gray-100! h-9!" 
                            icon="fa-regular fa-car text-xl!" 
                            severity="secondary" 
                            label="Seleccionar vehículo"
                        ></p-button>
                    </div>
                    
                }

            </div>

        </p-fieldset>

        <p class="inline-flex items-center text-sm! font-medium! text-blue-600! py-1 px-3 rounded-lg! bg-blue-100! border-s-3! border-blue-500!"><i class="fa-solid fa-circle-exclamation text-lg! me-3"></i> Seleccione únicamente vehículos secundarios cuando aún no esté confirmado quién realizará el traslado de los productos.  </p>

        @if(invalid() && submitted()) {
            <p-message severity="error" size="small" variant="simple"><span class="text-[10px]! ">{{ this.messageError() }}</span></p-message>
        }

    }

</div>





<p-confirmdialog styleClass="max-w-[400px]" #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8  rounded-xl">
            <div class="rounded-full bg-blue-200 text-blue-700 inline-flex justify-center items-center h-24 w-24 -mt-20"
            >
                <i class="font-bold pi pi-question text-5xl!"></i>
            </div>
            <span class="font-semibold text-xl block mb-2 mt-6 text-center">{{ message.header }}</span>
            <p class="mb-0 text-xs">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Aceptar" (onClick)="onAccept()" styleClass="w-32"></p-button>
                <p-button label="Cancelar" severity="secondary" (onClick)="onReject()" styleClass="w-32"></p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>