:host{
    min-height: 100vh !important;
}

.page-bg {
    //background-image: url('assets/media/bg/supply-chain-background.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}